## Beneish Model

#### Intern: Chloe Du

In [2]:
#import necessary libraries
import numpy as np 
import pandas as pd

from scipy import stats  #for some statistics
from scipy.stats import norm, skew

import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()
sns.set_style('darkgrid')
%matplotlib inline

import warnings 
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn  #ignore warnings (from sklearn and seaborn)

In [3]:
# Now to import and put the dataset 
df2011 = pd.read_csv("/Users/jiayangdu/Desktop/PWC/Rating Analysis/report_20111231.csv")
df2012 = pd.read_csv("/Users/jiayangdu/Desktop/PWC/Rating Analysis/report_20121231.csv")
df2013 = pd.read_csv("/Users/jiayangdu/Desktop/PWC/Rating Analysis/report_20131231.csv")
df2014 = pd.read_csv("/Users/jiayangdu/Desktop/PWC/Rating Analysis/report_20141231.csv")
df2015 = pd.read_csv("/Users/jiayangdu/Desktop/PWC/Rating Analysis/report_20151231.csv")
df2016 = pd.read_csv("/Users/jiayangdu/Desktop/PWC/Rating Analysis/report_20161231.csv")
df2017 = pd.read_csv("/Users/jiayangdu/Desktop/PWC/Rating Analysis/report_20171231.csv")
print(df2011.shape);print(df2012.shape);print(df2013.shape);print(df2014.shape);print(df2015.shape);print(df2016.shape);print(df2017.shape)

(4721, 43)
(5221, 47)
(5594, 47)
(5736, 47)
(5475, 47)
(5175, 47)
(4815, 47)

In [4]:
#统一每个表的列名(排除第一行公司代码） 
# df2011.columns = [str(col) + '_2011' for col in df2011.columns]
df2011.columns=df2011.columns.map(lambda x : x+'_2011' if x !='Unnamed: 0' else x)
df2012.columns=df2012.columns.map(lambda x : x+'_2012' if x !='Unnamed: 0' else x)
df2013.columns=df2013.columns.map(lambda x : x+'_2013' if x !='Unnamed: 0' else x)
df2014.columns=df2014.columns.map(lambda x : x+'_2014' if x !='Unnamed: 0' else x)
df2015.columns=df2015.columns.map(lambda x : x+'_2015' if x !='Unnamed: 0' else x)
df2016.columns=df2016.columns.map(lambda x : x+'_2016' if x !='Unnamed: 0' else x)
df2017.columns=df2017.columns.map(lambda x : x+'_2017' if x !='Unnamed: 0' else x)

In [5]:
df2011.head()

,Unnamed: 0,LESS_FIN_EXP_2011,LESS_GERL_ADMIN_EXP_2011,LESS_NON_OPER_EXP_2011,LESS_OPER_COST_2011,LESS_SELLING_DIST_EXP_2011,OPER_PROFIT_2011,PLUS_NON_OPER_REV_2011,TOT_OPER_REV_2011,TOT_PROFIT_2011,...,TOT_CUR_ASSETS_2011,TOT_CUR_LIAB_2011,TOT_LIAB_2011,TRADABLE_FIN_ASSETS_2011,AMORT_INTANG_ASSETS_2011,DEPR_FA_COGA_DPBA_2011,NET_CASH_FLOWS_FNC_ACT_2011,NET_CASH_FLOWS_INV_ACT_2011,NET_CASH_FLOWS_OPER_ACT_2011,free_cash_flow_2011
0,3v3885096A,2.460437e+07,4.783057e+07,1160745.09,2.933685e+09,6.342586e+07,1.135546e+08,42694.93,3.195448e+09,1.124365e+08,...,2.098287e+09,1.400437e+09,1.400437e+09,NaN,1723608.89,4.488178e+06,5.418735e+08,-4.538138e+07,-4.750319e+08,-5.184856e+08
1,2AF3E846BD,1.360688e+08,1.297861e+08,6935349.85,5.050315e+09,1.267234e+08,1.155467e+08,19863003.23,5.625801e+09,1.284743e+08,...,4.362397e+09,4.793211e+09,5.421388e+09,NaN,3303442.90,2.245435e+07,7.799134e+08,-4.602396e+08,-2.898325e+08,5.511732e+08
2,3bIlRLVgWa,1.248198e+08,2.971839e+08,282129.91,2.932598e+09,9.312951e+07,5.850238e+08,31366780.16,4.077000e+09,6.161084e+08,...,3.325999e+09,3.993981e+09,4.098981e+09,NaN,23585342.61,1.072062e+08,1.719425e+09,-1.449290e+09,1.156984e+08,4.212729e+08
3,2oH4EBB82B,3.385289e+07,5.037838e+07,1561751.34,7.098548e+08,2.731980e+08,-1.950095e+08,10873721.57,9.104307e+08,-1.856976e+08,...,7.894144e+08,9.302337e+08,1.211245e+09,NaN,3380017.58,7.436388e+07,9.322611e+07,-1.203914e+08,6.855444e+07,-6.483159e+07
4,neOYOYVt6D,3.750947e+07,6.600469e+07,3280311.17,2.581093e+08,1.164211e+07,2.685726e+08,32369013.91,5.354181e+08,2.976613e+08,...,1.514165e+09,7.490338e+08,1.954963e+09,NaN,1587841.79,7.413205e+07,-1.584740e+08,7.604801e+07,3.709066e+07,-2.249523e+07

In [6]:
df2011.dtypes.head(5)

Unnamed: 0                   object
LESS_FIN_EXP_2011           float64
LESS_GERL_ADMIN_EXP_2011    float64
LESS_NON_OPER_EXP_2011      float64
LESS_OPER_COST_2011         float64
dtype: object

In [7]:
df2011.isnull().sum().sort_values(ascending = False).head(10)

OIL_AND_NATURAL_GAS_ASSETS_2011    4704
PRODUCTIVE_BIO_ASSETS_2011         4531
DVD_RCV_2011                       4063
INT_RCV_2011                       3888
FIN_ASSETS_AVAIL_FOR_SALE_2011     3814
PROJ_MATL_2011                     3611
TRADABLE_FIN_ASSETS_2011           3598
BONDS_PAYABLE_2011                 3515
INVEST_REAL_ESTATE_2011            3094
LT_PAYABLE_2011                    2958
dtype: int64

In [8]:
# fill missing values
df2011.fillna('0',inplace = True)
df2012.fillna('0',inplace = True)
df2013.fillna('0',inplace = True)
df2014.fillna('0',inplace = True)
df2015.fillna('0',inplace = True)
df2016.fillna('0',inplace = True)
df2017.fillna('0',inplace = True)

In [9]:
df2011.describe()

,Unnamed: 0,LESS_FIN_EXP_2011,LESS_GERL_ADMIN_EXP_2011,LESS_NON_OPER_EXP_2011,LESS_OPER_COST_2011,LESS_SELLING_DIST_EXP_2011,OPER_PROFIT_2011,PLUS_NON_OPER_REV_2011,TOT_OPER_REV_2011,TOT_PROFIT_2011,...,TOT_CUR_ASSETS_2011,TOT_CUR_LIAB_2011,TOT_LIAB_2011,TRADABLE_FIN_ASSETS_2011,AMORT_INTANG_ASSETS_2011,DEPR_FA_COGA_DPBA_2011,NET_CASH_FLOWS_FNC_ACT_2011,NET_CASH_FLOWS_INV_ACT_2011,NET_CASH_FLOWS_OPER_ACT_2011,free_cash_flow_2011
count,4721,4721,4721,4721,4721,4721,4721,4721,4721,4721,...,4721,4721,4721,4721,4721,4721,4721,4721,4721,4721
unique,4721,4467,4479,4077,4465,3734,4507,4178,4612,4537,...,4565,4563,4633,967,3503,3954,4518,4530,4565,4466
top,Y2fugrTUgy,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
freq,1,252,240,579,251,958,212,493,103,183,...,155,158,88,3598,1202,763,194,190,155,256

### 一）可调整的资产负债表指标

#### DSRI（Days' sales in receivable index）：应收账款指数

显然DSRI指数过高，表明公司可能操控应收账款项目来对营业收入与利润进行控制。

In [10]:
####################可调整的资产负债表指标
#DSRI（Days' sales in receivable index）：应收账款指数
#DSRI=(本期应收账款⁄本期营业收入)/(上期应收账款⁄上期营业收入)
#DSRI = (Net Receivablest / Salest) / Net Receivablest-1 / Salest-1)
dsri_element_2011 = df2011[df2011.filter(regex='Unnamed: 0|ACCT_RCV|TOT_OPER_REV').columns]
dsri_element_2012 = df2012[df2012.filter(regex='Unnamed: 0|ACCT_RCV|TOT_OPER_REV').columns]
dsri_element_2013 = df2013[df2013.filter(regex='Unnamed: 0|ACCT_RCV|TOT_OPER_REV').columns]
dsri_element_2014 = df2014[df2014.filter(regex='Unnamed: 0|ACCT_RCV|TOT_OPER_REV').columns]
dsri_element_2015 = df2015[df2015.filter(regex='Unnamed: 0|ACCT_RCV|TOT_OPER_REV').columns]
dsri_element_2016 = df2016[df2016.filter(regex='Unnamed: 0|ACCT_RCV|TOT_OPER_REV').columns]
dsri_element_2017 = df2017[df2017.filter(regex='Unnamed: 0|ACCT_RCV|TOT_OPER_REV').columns]

# combine the above tables
from functools import reduce
dfs = [dsri_element_2011, dsri_element_2012, dsri_element_2013, dsri_element_2014, dsri_element_2015,  dsri_element_2016, dsri_element_2017]
dsri_element = reduce(lambda left,right: pd.merge(left,right,on='Unnamed: 0', how= 'outer'), dfs)
#fill the na at first
dsri_element.fillna('0',inplace = True)
dsri_element

,Unnamed: 0,TOT_OPER_REV_2011,ACCT_RCV_2011,TOT_OPER_REV_2012,ACCT_RCV_2012,TOT_OPER_REV_2013,ACCT_RCV_2013,TOT_OPER_REV_2014,ACCT_RCV_2014,TOT_OPER_REV_2015,ACCT_RCV_2015,TOT_OPER_REV_2016,ACCT_RCV_2016,TOT_OPER_REV_2017,ACCT_RCV_2017
0,3v3885096A,3.19545e+09,1.33877e+09,4.62224e+09,1.82111e+09,5.92584e+09,2.37567e+09,7.78591e+09,3.24306e+09,9.74996e+09,4.44361e+09,1.56187e+10,7.81861e+09,2.32936e+10,1.23412e+10
1,2AF3E846BD,5.6258e+09,5.00678e+08,5.72728e+09,3.22056e+08,6.24195e+09,6.10356e+08,8.61768e+09,6.05788e+08,5.24071e+09,8.8429e+08,4.41772e+09,6.56152e+08,0,0
2,3bIlRLVgWa,4.077e+09,1.07292e+09,7.25393e+09,2.16773e+09,1.00511e+10,3.75557e+09,1.29801e+10,4.16045e+09,1.36938e+10,3.74687e+09,1.94807e+10,5.41644e+09,2.56287e+10,6.30559e+09
3,2oH4EBB82B,9.10431e+08,1.14956e+08,8.84543e+08,1.26033e+08,8.93427e+08,1.23315e+08,8.45394e+08,1.49103e+08,6.84202e+08,1.37347e+08,7.77889e+08,1.31636e+08,9.0022e+08,1.21004e+08
4,neOYOYVt6D,5.35418e+08,9.86219e+06,4.75603e+08,1.14637e+07,4.37841e+08,9.63836e+06,4.70633e+08,5.72629e+06,1.81518e+09,2.40642e+07,6.57777e+08,5.29277e+07,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6565,62jrB6GEDP,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6566,08R9CCCD90,0,0,0,0,0,0,0,0,0,0,0,0,4.84049e+09,0
6567,4YV5A2C180,0,0,0,0,0,0,0,0,0,0,0,0,9.969e+09,0
6568,3E948683E9,0,0,0,0,0,0,0,0,0,0,0,0,0,2.31159e+08
6569,502035469,0,0,0,0,0,0,0,0,0,0,0,0,6.15875e+09,0

In [11]:
#  to create features using for loop
def foo(x,y):
    try:
        return x / y
    except ZeroDivisionError:
        return 0

n = 2
for i in range(4,len(dsri_element.columns),2):
    dsri_element['DSRI_201'+str(n)] = ((dsri_element[dsri_element.columns[i]].apply(lambda x:float(x)))/((dsri_element[dsri_element.columns[i-1]]).apply(lambda x:float(x)))) /((((dsri_element[dsri_element.columns[i-2]]).apply(lambda x:float(x)))/((dsri_element[dsri_element.columns[i-3]]).apply(lambda x:float(x)))).replace((np.inf, -np.inf), (0, 0)))
    n += 1
    

# fill missing value and inf
dsri_element.fillna('0',inplace = True)
dsri_element.replace((np.inf, -np.inf), (0, 0), inplace=True)
DSRI = dsri_element.filter(like = 'DSRI')
DSRI

     DSRI_2012 DSRI_2013 DSRI_2014 DSRI_2015 DSRI_2016 DSRI_2017
0     0.940393   1.01754   1.03899   1.09418   1.09838   1.05836
1     0.631843   1.73892  0.718897   2.40035  0.880241         0
2      1.13555   1.25034  0.857829   0.85366   1.01616  0.884891
3      1.12845  0.968703   1.27782   1.13817  0.842988   0.79432
4      1.30858  0.913284   0.55272   1.08959   6.06948         0
...        ...       ...       ...       ...       ...       ...
6565         0         0         0         0         0         0
6566         0         0         0         0         0         0
6567         0         0         0         0         0         0
6568         0         0         0         0         0         0
6569         0         0         0         0         0         0

[6570 rows x 6 columns]

In [12]:
#convert the data type from object to float
n=2
for i in range(6):
    DSRI['DSRI_201'+str(n)] = DSRI['DSRI_201'+str(n)].apply(lambda x:float(x))
    n +=1

In [13]:
#check
DSRI.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6570 entries, 0 to 6569
Data columns (total 6 columns):
DSRI_2012    6570 non-null float64
DSRI_2013    6570 non-null float64
DSRI_2014    6570 non-null float64
DSRI_2015    6570 non-null float64
DSRI_2016    6570 non-null float64
DSRI_2017    6570 non-null float64
dtypes: float64(6)
memory usage: 359.3 KB

In [14]:
# each value substract yearly mean
DSRI = DSRI - DSRI.mean()

# fill missing value and inf again
DSRI.fillna('0',inplace = True)
DSRI.replace((np.inf, -np.inf), (0, 0), inplace=True)

# insert the company_code column
DSRI.insert(loc=0, column='Company_code',value= dsri_element['Unnamed: 0'])
DSRI

,Company_code,DSRI_2012,DSRI_2013,DSRI_2014,DSRI_2015,DSRI_2016,DSRI_2017
0,3v3885096A,-2.566608,-8.622289,-64.871059,-3.472914,-19.707651,-18.542298
1,2AF3E846BD,-2.875157,-7.900911,-65.191148,-2.166742,-19.925790,-19.600660
2,3bIlRLVgWa,-2.371450,-8.389487,-65.052217,-3.713432,-19.789869,-18.715769
3,2oH4EBB82B,-2.378549,-8.671128,-64.632227,-3.428919,-19.963043,-18.806340
4,neOYOYVt6D,-2.198422,-8.726546,-65.357326,-3.477506,-14.736554,-19.600660
...,...,...,...,...,...,...,...
6565,62jrB6GEDP,-3.507001,-9.639831,-65.910046,-4.567092,-20.806030,-19.600660
6566,08R9CCCD90,-3.507001,-9.639831,-65.910046,-4.567092,-20.806030,-19.600660
6567,4YV5A2C180,-3.507001,-9.639831,-65.910046,-4.567092,-20.806030,-19.600660
6568,3E948683E9,-3.507001,-9.639831,-65.910046,-4.567092,-20.806030,-19.600660
6569,502035469,-3.507001,-9.639831,-65.910046,-4.567092,-20.806030,-19.600660

In [15]:
# transpose the table
DSRI2 = DSRI.copy()
DSRI2 = DSRI2.set_index(["Company_code"])
DSRI2 = DSRI2.stack()
DSRI2 = DSRI2 .reset_index()
DSRI2 = DSRI2.rename(columns={ 0: 'DSRI'})
DSRI2.insert(loc=1, column='Year',value= DSRI2['level_1'].apply(lambda x:x.split('_')[-1]))
#LVGI2['Year'] = LVGI2['level_1'].apply(lambda x:x.split('_')[-1])
DSRI2.drop('level_1', axis=1, inplace = True)
DSRI2

      Company_code  Year       DSRI
0       3v3885096A  2012  -2.566608
1       3v3885096A  2013  -8.622289
2       3v3885096A  2014 -64.871059
3       3v3885096A  2015  -3.472914
4       3v3885096A  2016 -19.707651
...            ...   ...        ...
39415    502035469  2013  -9.639831
39416    502035469  2014 -65.910046
39417    502035469  2015  -4.567092
39418    502035469  2016 -20.806030
39419    502035469  2017 -19.600660

[39420 rows x 3 columns]

#### AQI（Asset quality index）：资产质量指数

AQI指数检测公司是否可能通过操控非实物资产项目来控制利润率。

In [16]:
#AQI（Asset quality index）：资产质量指数
#AQI=本期非实物资产比例/上期非实物资产比例
#Asset Quality Index = Proportion of Current and Fixed Assets in Period 1 / Proportion of Current and Fixed Assets in Period 1
#Where:
#Proportion of Current and Fixed Assets = 1 - (Current Assets + Net Fixed Assets) / Total Assets

aqi_element_2011 = df2011[df2011.filter(regex='Unnamed: 0|TOT_CUR_ASSETS|FIX_ASSETS|TOT_ASSETS').columns]
aqi_element_2012 = df2012[df2012.filter(regex='Unnamed: 0|TOT_CUR_ASSETS|FIX_ASSETS|TOT_ASSETS').columns]
aqi_element_2013 = df2013[df2013.filter(regex='Unnamed: 0|TOT_CUR_ASSETS|FIX_ASSETS|TOT_ASSETS').columns]
aqi_element_2014 = df2014[df2014.filter(regex='Unnamed: 0|TOT_CUR_ASSETS|FIX_ASSETS|TOT_ASSETS').columns]
aqi_element_2015 = df2015[df2015.filter(regex='Unnamed: 0|TOT_CUR_ASSETS|FIX_ASSETS|TOT_ASSETS').columns]
aqi_element_2016 = df2016[df2016.filter(regex='Unnamed: 0|TOT_CUR_ASSETS|FIX_ASSETS|TOT_ASSETS').columns]
aqi_element_2017 = df2017[df2017.filter(regex='Unnamed: 0|TOT_CUR_ASSETS|FIX_ASSETS|TOT_ASSETS').columns]

# combine the above tables
from functools import reduce
dfs2 = [aqi_element_2011, aqi_element_2012, aqi_element_2013, aqi_element_2014, aqi_element_2015,  aqi_element_2016, aqi_element_2017]
aqi_element = reduce(lambda left,right: pd.merge(left,right,on='Unnamed: 0', how= 'outer'), dfs2)

#fill the na at first
aqi_element.fillna('0',inplace = True)
aqi_element

,Unnamed: 0,FIX_ASSETS_2011,TOT_ASSETS_2011,TOT_CUR_ASSETS_2011,FIX_ASSETS_2012,TOT_ASSETS_2012,TOT_CUR_ASSETS_2012,FIX_ASSETS_2013,TOT_ASSETS_2013,TOT_CUR_ASSETS_2013,...,TOT_CUR_ASSETS_2014,FIX_ASSETS_2015,TOT_ASSETS_2015,TOT_CUR_ASSETS_2015,FIX_ASSETS_2016,TOT_ASSETS_2016,TOT_CUR_ASSETS_2016,FIX_ASSETS_2017,TOT_ASSETS_2017,TOT_CUR_ASSETS_2017
0,3v3885096A,5.132e+07,2.21755e+09,2.09829e+09,5.83189e+07,3.12037e+09,2.8882e+09,2.24873e+08,4.45423e+09,3.99043e+09,...,5.04886e+09,7.30564e+08,8.86169e+09,7.45248e+09,9.77919e+08,1.56568e+10,1.285e+10,1.39798e+09,2.6983e+10,2.10789e+10
1,2AF3E846BD,6.14244e+08,6.96916e+09,4.3624e+09,9.1288e+08,8.08716e+09,4.87849e+09,1.00979e+09,8.63519e+09,5.12487e+09,...,5.87166e+09,1.13047e+09,1.26567e+10,9.15069e+09,1.12259e+09,1.21163e+10,8.54401e+09,0,0,0
2,3bIlRLVgWa,1.89758e+09,6.28017e+09,3.326e+09,3.3191e+09,1.07991e+10,5.8999e+09,4.14652e+09,1.49016e+10,9.1315e+09,...,1.30819e+10,5.96451e+09,2.22432e+10,1.31704e+10,7.30072e+09,2.69623e+10,1.51094e+10,9.93531e+09,3.22422e+10,1.77202e+10
3,2oH4EBB82B,8.30718e+08,1.90677e+09,7.89414e+08,7.66328e+08,1.86339e+09,7.03096e+08,7.62666e+08,2.08658e+09,6.51173e+08,...,7.87353e+08,6.43692e+08,2.14363e+09,7.35029e+08,5.92157e+08,2.05908e+09,6.63401e+08,5.31043e+08,2.11518e+09,6.99065e+08
4,neOYOYVt6D,9.24334e+08,2.84962e+09,1.51417e+09,8.65336e+08,3.15847e+09,1.82456e+09,7.97956e+08,3.81733e+09,2.54474e+09,...,3.34145e+09,6.63951e+08,3.8093e+09,2.77946e+09,5.55914e+08,4.27422e+09,3.30163e+09,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6565,62jrB6GEDP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6566,08R9CCCD90,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2.45876e+10,0
6567,4YV5A2C180,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1.5774e+10,0
6568,3E948683E9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2.5874e+07,6.28825e+08,5.13752e+08
6569,502035469,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
# convert the dtype from object to float to make caluculation free from error
for i in range(1,22):
    aqi_element.iloc[:,i] = aqi_element.iloc[:,i].apply(lambda x:float(x))

In [18]:
# to create AQI features using for loop
n = 2
for i in range(6,len(aqi_element.columns),3):
    aqi_element['AQI_201'+str(n)] = (1 - ((aqi_element[aqi_element.columns[i]]+aqi_element[aqi_element.columns[i-2]])/aqi_element[aqi_element.columns[i-1]])) / (1 - ((aqi_element[aqi_element.columns[i-3]]+aqi_element[aqi_element.columns[i-5]])/aqi_element[aqi_element.columns[i-4]]))
    n += 1

# fill missing value and inf
aqi_element.fillna('0',inplace = True)
aqi_element.replace((np.inf, -np.inf), (0, 0), inplace=True)

# EXTRACT AQI columns
AQI = aqi_element.filter(like = 'AQI') 
AQI

      AQI_2012  AQI_2013  AQI_2014  AQI_2015 AQI_2016  AQI_2017
0      1.81851  0.962802  0.740607   1.92771  1.52528   1.42966
1     0.992922   1.02006  0.852555  0.760257  1.07722         0
2     0.869661  0.744633  0.996135   1.28759  1.20821  0.842562
3      1.40644   1.52497   1.06224    1.0419  1.09362   1.07227
4       1.0283  0.838099  0.695336   1.11098  1.01496         0
...        ...       ...       ...       ...      ...       ...
6565         0         0         0         0        0         0
6566         0         0         0         0        0         0
6567         0         0         0         0        0         0
6568         0         0         0         0        0         0
6569         0         0         0         0        0         0

[6570 rows x 6 columns]

In [19]:
AQI.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6570 entries, 0 to 6569
Data columns (total 6 columns):
AQI_2012    6570 non-null object
AQI_2013    6570 non-null object
AQI_2014    6570 non-null object
AQI_2015    6570 non-null object
AQI_2016    6570 non-null object
AQI_2017    6570 non-null object
dtypes: object(6)
memory usage: 359.3+ KB

In [20]:
#convert the data type from object to float again
n=2
for i in range(6):
    AQI['AQI_201'+str(n)] = AQI['AQI_201'+str(n)].apply(lambda x:float(x))
    n +=1

#check
AQI.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6570 entries, 0 to 6569
Data columns (total 6 columns):
AQI_2012    6570 non-null float64
AQI_2013    6570 non-null float64
AQI_2014    6570 non-null float64
AQI_2015    6570 non-null float64
AQI_2016    6570 non-null float64
AQI_2017    6570 non-null float64
dtypes: float64(6)
memory usage: 359.3 KB

In [21]:
# each value substract yearly mean
AQI = AQI - AQI.mean()

# fill missing value and inf again
AQI.fillna('0',inplace = True)
AQI.replace((np.inf, -np.inf), (0, 0), inplace=True)

# insert the company_code column
AQI.insert(loc=0, column='Company_code',value= dsri_element['Unnamed: 0'])
AQI

,Company_code,AQI_2012,AQI_2013,AQI_2014,AQI_2015,AQI_2016,AQI_2017
0,3v3885096A,3.287658e+10,1.517351e+06,-3.246717e+11,3.858816e+10,-1.972522e+10,-4.200354e+10
1,2AF3E846BD,3.287658e+10,1.517351e+06,-3.246717e+11,3.858816e+10,-1.972522e+10,-4.200354e+10
2,3bIlRLVgWa,3.287658e+10,1.517350e+06,-3.246717e+11,3.858816e+10,-1.972522e+10,-4.200354e+10
3,2oH4EBB82B,3.287658e+10,1.517351e+06,-3.246717e+11,3.858816e+10,-1.972522e+10,-4.200354e+10
4,neOYOYVt6D,3.287658e+10,1.517350e+06,-3.246717e+11,3.858816e+10,-1.972522e+10,-4.200354e+10
...,...,...,...,...,...,...,...
6565,62jrB6GEDP,3.287658e+10,1.517350e+06,-3.246717e+11,3.858816e+10,-1.972522e+10,-4.200354e+10
6566,08R9CCCD90,3.287658e+10,1.517350e+06,-3.246717e+11,3.858816e+10,-1.972522e+10,-4.200354e+10
6567,4YV5A2C180,3.287658e+10,1.517350e+06,-3.246717e+11,3.858816e+10,-1.972522e+10,-4.200354e+10
6568,3E948683E9,3.287658e+10,1.517350e+06,-3.246717e+11,3.858816e+10,-1.972522e+10,-4.200354e+10
6569,502035469,3.287658e+10,1.517350e+06,-3.246717e+11,3.858816e+10,-1.972522e+10,-4.200354e+10

In [22]:
AQI2 = AQI.copy()
AQI2 = AQI2.set_index(["Company_code"])
AQI2 = AQI2.stack()
AQI2 = AQI2 .reset_index()
AQI2 = AQI2.rename(columns={ 0: 'AQI'})
AQI2.insert(loc=1, column='Year',value= AQI2['level_1'].apply(lambda x:x.split('_')[-1]))
#LVGI2['Year'] = LVGI2['level_1'].apply(lambda x:x.split('_')[-1])
AQI2.drop('level_1', axis=1, inplace = True)
AQI2

      Company_code  Year           AQI
0       3v3885096A  2012  3.287658e+10
1       3v3885096A  2013  1.517351e+06
2       3v3885096A  2014 -3.246717e+11
3       3v3885096A  2015  3.858816e+10
4       3v3885096A  2016 -1.972522e+10
...            ...   ...           ...
39415    502035469  2013  1.517350e+06
39416    502035469  2014 -3.246717e+11
39417    502035469  2015  3.858816e+10
39418    502035469  2016 -1.972522e+10
39419    502035469  2017 -4.200354e+10

[39420 rows x 3 columns]

#### TATA（Total accruals to total assets）：总应计项

TATA指数检测公司的非货币类的流动资产、流动负债有无异常变动情况，因为非货币类或长期应计项的认为操控也可以直接影响到最终的利润结果。

In [23]:
# TATA（Total accruals to total assets）：总应计项
# TATA=应计项/总资产=((∆流动资产-∆货币资金)-(∆流动负债-∆一年内到期长期负债-∆应交税费)-折旧费用)/总资产
#Accruals to Assets Ratio = (∆ Working Capital - ∆ Cash - ∆ Depreciation) / ∆ Total Assets
#Where:
#The change (∆) in working capital, cash and depreciation are measured in terms of the observed difference in these accounts occurring between two accounting periods.
tata_element_2011 = df2011[df2011.filter(regex='Unnamed: 0|TOT_CUR_ASSETS|MONETARY_CAP|TOT_CUR_LIAB|NON_CUR_LIAB_DUE_WITHIN_1Y|TAXES_SURCHARGES_PAYABLE|TOT_ASSETS').columns]
tata_element_2012 = df2012[df2012.filter(regex='Unnamed: 0|TOT_CUR_ASSETS|MONETARY_CAP|TOT_CUR_LIAB|NON_CUR_LIAB_DUE_WITHIN_1Y|TAXES_SURCHARGES_PAYABLE|TOT_ASSETS').columns]
tata_element_2013 = df2013[df2013.filter(regex='Unnamed: 0|TOT_CUR_ASSETS|MONETARY_CAP|TOT_CUR_LIAB|NON_CUR_LIAB_DUE_WITHIN_1Y|TAXES_SURCHARGES_PAYABLE|TOT_ASSETS').columns]
tata_element_2014 = df2014[df2014.filter(regex='Unnamed: 0|TOT_CUR_ASSETS|MONETARY_CAP|TOT_CUR_LIAB|NON_CUR_LIAB_DUE_WITHIN_1Y|TAXES_SURCHARGES_PAYABLE|TOT_ASSETS').columns]
tata_element_2015 = df2015[df2015.filter(regex='Unnamed: 0|TOT_CUR_ASSETS|MONETARY_CAP|TOT_CUR_LIAB|NON_CUR_LIAB_DUE_WITHIN_1Y|TAXES_SURCHARGES_PAYABLE|TOT_ASSETS').columns]
tata_element_2016 = df2016[df2016.filter(regex='Unnamed: 0|TOT_CUR_ASSETS|MONETARY_CAP|TOT_CUR_LIAB|NON_CUR_LIAB_DUE_WITHIN_1Y|TAXES_SURCHARGES_PAYABLE|TOT_ASSETS').columns]
tata_element_2017 = df2017[df2017.filter(regex='Unnamed: 0|TOT_CUR_ASSETS|MONETARY_CAP|TOT_CUR_LIAB|NON_CUR_LIAB_DUE_WITHIN_1Y|TAXES_SURCHARGES_PAYABLE|TOT_ASSETS').columns]
#there is no TAXES_SURCHARGES_PAYABLE

# combine the above tables
from functools import reduce
dfs3 = [tata_element_2011, tata_element_2012, tata_element_2013, tata_element_2014, tata_element_2015,  tata_element_2016, tata_element_2017]
tata_element = reduce(lambda left,right: pd.merge(left,right,on='Unnamed: 0', how= 'outer'), dfs3)

#fill the na at first
tata_element.fillna('0',inplace = True)
tata_element

,Unnamed: 0,MONETARY_CAP_2011,NON_CUR_LIAB_DUE_WITHIN_1Y_2011,TOT_ASSETS_2011,TOT_CUR_ASSETS_2011,TOT_CUR_LIAB_2011,MONETARY_CAP_2012,NON_CUR_LIAB_DUE_WITHIN_1Y_2012,TOT_ASSETS_2012,TOT_CUR_ASSETS_2012,...,MONETARY_CAP_2016,NON_CUR_LIAB_DUE_WITHIN_1Y_2016,TOT_ASSETS_2016,TOT_CUR_ASSETS_2016,TOT_CUR_LIAB_2016,MONETARY_CAP_2017,NON_CUR_LIAB_DUE_WITHIN_1Y_2017,TOT_ASSETS_2017,TOT_CUR_ASSETS_2017,TOT_CUR_LIAB_2017
0,3v3885096A,3.07266e+08,0,2.21755e+09,2.09829e+09,1.40044e+09,3.98099e+08,0,3.12037e+09,2.8882e+09,...,2.04958e+09,0,1.56568e+10,1.285e+10,8.15417e+09,2.01857e+09,8e+06,2.6983e+10,2.10789e+10,1.56181e+10
1,2AF3E846BD,7.25505e+08,0,6.96916e+09,4.3624e+09,4.79321e+09,1.09546e+09,0,8.08716e+09,4.87849e+09,...,5.39818e+08,1.03e+07,1.21163e+10,8.54401e+09,9.13636e+09,0,0,0,0,0
2,3bIlRLVgWa,1.1638e+09,2.55315e+08,6.28017e+09,3.326e+09,3.99398e+09,1.73289e+09,6.2e+07,1.07991e+10,5.8999e+09,...,4.23153e+09,4.73108e+08,2.69623e+10,1.51094e+10,1.09e+10,4.77923e+09,3.07663e+08,3.22422e+10,1.77202e+10,1.20681e+10
3,2oH4EBB82B,1.7462e+08,7.50373e+07,1.90677e+09,7.89414e+08,9.30234e+08,1.44191e+08,2.29896e+08,1.86339e+09,7.03096e+08,...,1.46359e+08,4.19041e+07,2.05908e+09,6.63401e+08,1.03009e+09,1.78423e+08,4.75123e+07,2.11518e+09,6.99065e+08,1.01061e+09
4,neOYOYVt6D,1.34917e+08,1.561e+08,2.84962e+09,1.51417e+09,7.49034e+08,2.37208e+08,2.469e+08,3.15847e+09,1.82456e+09,...,2.13809e+08,5.46e+08,4.27422e+09,3.30163e+09,2.08257e+09,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6565,62jrB6GEDP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6566,08R9CCCD90,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2.45876e+10,0,0
6567,4YV5A2C180,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.5774e+10,0,0
6568,3E948683E9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2.65911e+08,0,6.28825e+08,5.13752e+08,9.26129e+07
6569,502035469,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
# convert the dtype from object to float to make calculation free from error
for i in range(1,36):
    tata_element.iloc[:,i] = tata_element.iloc[:,i].apply(lambda x:float(x))

In [25]:
#TATA=应计项/总资产=((∆流动资产-∆货币资金)-(∆流动负债-∆一年内到期长期负债-∆应交税费)-折旧费用)/总资产
n = 2
for i in range(9,len(tata_element.columns),5):
    tata_element['TATA_201'+str(n)] = (((tata_element[tata_element.columns[i]]-tata_element[tata_element.columns[i-5]])-(tata_element[tata_element.columns[i-3]]-tata_element[tata_element.columns[i-8]]))-((tata_element[tata_element.columns[i+1]]-tata_element[tata_element.columns[i-4]])-(tata_element[tata_element.columns[i-2]]-tata_element[tata_element.columns[i-7]])))/(tata_element[tata_element.columns[i-1]]-tata_element[tata_element.columns[i-6]])
    n += 1

# fill missing value and inf
tata_element.fillna('0',inplace = True)
tata_element.replace((np.inf, -np.inf), (0, 0), inplace=True)

#extract TATA cols
TATA = tata_element.filter(like = 'TATA') 
TATA

      TATA_2012  TATA_2013  TATA_2014  TATA_2015 TATA_2016  TATA_2017
0     -0.115705   0.188916  0.0646985  0.0629072  0.269123  0.0709797
1     -0.328383    1.11926  0.0919103  -0.101903 -0.107061 -0.0925916
2     0.0925492 -0.0248829   0.379297   0.214997 -0.164789   0.138181
3       5.36568   -1.05303    2.12728    1.01665 -0.301696   0.511435
4      -1.00358  -0.364128    1.01299  -0.939333  0.108489    0.36293
...         ...        ...        ...        ...       ...        ...
6565          0          0          0          0         0          0
6566          0          0          0          0         0          0
6567          0          0          0          0         0          0
6568          0          0          0          0         0   0.246853
6569          0          0          0          0         0          0

[6570 rows x 6 columns]

In [26]:
#convert the data type from object to float again
n=2
for i in range(6):
    TATA['TATA_201'+str(n)] = TATA['TATA_201'+str(n)].apply(lambda x:float(x))
    n +=1

#check
TATA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6570 entries, 0 to 6569
Data columns (total 6 columns):
TATA_2012    6570 non-null float64
TATA_2013    6570 non-null float64
TATA_2014    6570 non-null float64
TATA_2015    6570 non-null float64
TATA_2016    6570 non-null float64
TATA_2017    6570 non-null float64
dtypes: float64(6)
memory usage: 359.3 KB

In [27]:
# each value substract yearly mean
TATA = TATA - TATA.mean()

# fill missing value and inf again
TATA.fillna('0',inplace = True)
TATA.replace((np.inf, -np.inf), (0, 0), inplace=True)

# insert the company_code column
TATA.insert(loc=0, column='Company_code',value= tata_element['Unnamed: 0'])
TATA

,Company_code,TATA_2012,TATA_2013,TATA_2014,TATA_2015,TATA_2016,TATA_2017
0,3v3885096A,-0.203721,-0.140108,-214853.517764,-0.035483,0.095970,-0.037840
1,2AF3E846BD,-0.416398,0.790231,-214853.490552,-0.200293,-0.280214,-0.201411
2,3bIlRLVgWa,0.004534,-0.353907,-214853.203166,0.116607,-0.337942,0.029362
3,2oH4EBB82B,5.277667,-1.382052,-214851.455183,0.918262,-0.474848,0.402616
4,neOYOYVt6D,-1.091593,-0.693152,-214852.569470,-1.037723,-0.064664,0.254111
...,...,...,...,...,...,...,...
6565,62jrB6GEDP,-0.088015,-0.329024,-214853.582462,-0.098390,-0.173153,-0.108819
6566,08R9CCCD90,-0.088015,-0.329024,-214853.582462,-0.098390,-0.173153,-0.108819
6567,4YV5A2C180,-0.088015,-0.329024,-214853.582462,-0.098390,-0.173153,-0.108819
6568,3E948683E9,-0.088015,-0.329024,-214853.582462,-0.098390,-0.173153,0.138034
6569,502035469,-0.088015,-0.329024,-214853.582462,-0.098390,-0.173153,-0.108819

In [28]:
TATA2 = TATA.copy()
TATA2 = TATA2.set_index(["Company_code"])
TATA2 = TATA2.stack()
TATA2 = TATA2 .reset_index()
TATA2 = TATA2.rename(columns={ 0: 'TATA'})
TATA2.insert(loc=1, column='Year',value= TATA2['level_1'].apply(lambda x:x.split('_')[-1]))
#LVGI2['Year'] = LVGI2['level_1'].apply(lambda x:x.split('_')[-1])
TATA2.drop('level_1', axis=1, inplace = True)
TATA2

      Company_code  Year           TATA
0       3v3885096A  2012      -0.203721
1       3v3885096A  2013      -0.140108
2       3v3885096A  2014 -214853.517764
3       3v3885096A  2015      -0.035483
4       3v3885096A  2016       0.095970
...            ...   ...            ...
39415    502035469  2013      -0.329024
39416    502035469  2014 -214853.582462
39417    502035469  2015      -0.098390
39418    502035469  2016      -0.173153
39419    502035469  2017      -0.108819

[39420 rows x 3 columns]

### 二）可调整的费用类指标

#### DEPI（Depreciation index）：折旧率指数

DEPI指数检测公司的折旧处理是否在合理范围内。因为折旧费用在报表中较难获得，本费用类指标暂不考虑。

In [29]:
#DEPI（Depreciation index）：折旧率指数
#计算公式：DEPI=(上期折旧费用⁄上期固定资产原值)/(本期折旧费用⁄本期固定资产原值)

#### SGAI（Sales and general and administrative expenses index）：销售管理费用指数

SGAI指数检测公司的费用数据是否合理，检测公司是否有可能通过减少费用报告来操纵利润数据。

In [30]:
#SGAI（Sales and general and administrative expenses index）：销售管理费用指数
#计算公式：SGAI=(((本期管理费用+本期销售费用))⁄本期营业收入)/(((上期管理费用+上期销售费用))⁄上期营业收入)
#SGAI = (SG&A Expenset / Salest) / (SG&A Expenset-1 / Salest-1)
sgai_element_2011 = df2011[df2011.filter(regex='Unnamed: 0|LESS_GERL_ADMIN_EXP|LESS_SELLING_DIST_EXP|OPER_REV').columns]
sgai_element_2012 = df2012[df2012.filter(regex='Unnamed: 0|LESS_GERL_ADMIN_EXP|LESS_SELLING_DIST_EXP|OPER_REV').columns]
sgai_element_2013 = df2013[df2013.filter(regex='Unnamed: 0|LESS_GERL_ADMIN_EXP|LESS_SELLING_DIST_EXP|OPER_REV').columns]
sgai_element_2014 = df2014[df2014.filter(regex='Unnamed: 0|LESS_GERL_ADMIN_EXP|LESS_SELLING_DIST_EXP|OPER_REV').columns]
sgai_element_2015 = df2015[df2015.filter(regex='Unnamed: 0|LESS_GERL_ADMIN_EXP|LESS_SELLING_DIST_EXP|OPER_REV').columns]
sgai_element_2016 = df2016[df2016.filter(regex='Unnamed: 0|LESS_GERL_ADMIN_EXP|LESS_SELLING_DIST_EXP|OPER_REV').columns]
sgai_element_2017 = df2017[df2017.filter(regex='Unnamed: 0|LESS_GERL_ADMIN_EXP|LESS_SELLING_DIST_EXP|OPER_REV').columns]

# combine the above tables
from functools import reduce
dfs4 = [sgai_element_2011, sgai_element_2012, sgai_element_2013, sgai_element_2014, sgai_element_2015,  sgai_element_2016, sgai_element_2017]
sgai_element = reduce(lambda left,right: pd.merge(left,right,on='Unnamed: 0', how= 'outer'), dfs4)

#fill the na at first
sgai_element.fillna('0',inplace = True)
sgai_element

,Unnamed: 0,LESS_GERL_ADMIN_EXP_2011,LESS_SELLING_DIST_EXP_2011,PLUS_NON_OPER_REV_2011,TOT_OPER_REV_2011,LESS_GERL_ADMIN_EXP_2012,LESS_SELLING_DIST_EXP_2012,PLUS_NON_OPER_REV_2012,TOT_OPER_REV_2012,LESS_GERL_ADMIN_EXP_2013,...,PLUS_NON_OPER_REV_2015,TOT_OPER_REV_2015,LESS_GERL_ADMIN_EXP_2016,LESS_SELLING_DIST_EXP_2016,PLUS_NON_OPER_REV_2016,TOT_OPER_REV_2016,LESS_GERL_ADMIN_EXP_2017,LESS_SELLING_DIST_EXP_2017,PLUS_NON_OPER_REV_2017,TOT_OPER_REV_2017
0,3v3885096A,4.78306e+07,6.34259e+07,42694.9,3.19545e+09,6.46359e+07,9.59226e+07,58234.8,4.62224e+09,8.94661e+07,...,1.10914e+07,9.74996e+09,4.25509e+08,9.31974e+08,2.32923e+07,1.56187e+10,8.57323e+08,1.50523e+09,6.07113e+06,2.32936e+10
1,2AF3E846BD,1.29786e+08,1.26723e+08,1.9863e+07,5.6258e+09,1.42352e+08,1.23645e+08,2.6702e+07,5.72728e+09,1.56647e+08,...,1.34743e+07,5.24071e+09,1.73145e+08,1.28581e+08,1.05646e+07,4.41772e+09,0,0,0,0
2,3bIlRLVgWa,2.97184e+08,9.31295e+07,3.13668e+07,4.077e+09,5.03115e+08,1.43951e+08,3.22565e+07,7.25393e+09,7.49497e+08,...,5.79788e+07,1.36938e+10,1.8667e+09,4.67958e+08,7.75136e+07,1.94807e+10,2.32783e+09,5.43377e+08,1.52229e+07,2.56287e+10
3,2oH4EBB82B,5.03784e+07,2.73198e+08,1.08737e+07,9.10431e+08,5.88795e+07,2.8985e+08,3.39235e+07,8.84543e+08,6.61658e+07,...,5.21989e+06,6.84202e+08,6.30375e+07,1.42117e+08,3.6276e+07,7.77889e+08,8.13291e+07,1.60679e+08,4.67075e+06,9.0022e+08
4,neOYOYVt6D,6.60047e+07,1.16421e+07,3.2369e+07,5.35418e+08,5.97039e+07,1.70376e+07,308203,4.75603e+08,6.09223e+07,...,329556,1.81518e+09,4.14557e+07,1.07239e+07,2.46396e+06,6.57777e+08,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6565,62jrB6GEDP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6566,08R9CCCD90,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.84049e+09
6567,4YV5A2C180,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9.969e+09
6568,3E948683E9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6569,502035469,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6.15875e+09

In [31]:
# convert the dtype from object to float to make calculation free from error
for i in range(1,29):
    sgai_element.iloc[:,i] = sgai_element.iloc[:,i].apply(lambda x:float(x))

In [32]:
#计算公式：SGAI=(((本期管理费用+本期销售费用))⁄本期营业收入)/(((上期管理费用+上期销售费用))⁄上期营业收入)
n = 2
for i in range(8,len(sgai_element.columns),4):
    sgai_element['SGAI_201'+str(n)] = ((sgai_element[sgai_element.columns[i-3]]+sgai_element[sgai_element.columns[i-2]])/sgai_element[sgai_element.columns[i]])/((sgai_element[sgai_element.columns[i-7]]+sgai_element[sgai_element.columns[i-6]])/sgai_element[sgai_element.columns[i-4]])
    n += 1

# fill missing value and inf
sgai_element.fillna('0',inplace = True)
sgai_element.replace((np.inf, -np.inf), (0, 0), inplace=True)

#extract TATA cols
SGAI = sgai_element.filter(like = 'SGAI') 
SGAI

     SGAI_2012 SGAI_2013 SGAI_2014 SGAI_2015 SGAI_2016 SGAI_2017
0     0.997671   1.09968   1.23042   1.38329   1.33683   1.16695
1      1.01861  0.973672  0.725747   1.49469   1.39231         0
2     0.931756   1.04619    1.1664   1.22939  0.895558    0.9348
3      1.10928  0.729152  0.825296   1.12057  0.992034   1.01934
4      1.11264   1.07606  0.881392  0.323619   1.60175         0
...        ...       ...       ...       ...       ...       ...
6565         0         0         0         0         0         0
6566         0         0         0         0         0         0
6567         0         0         0         0         0         0
6568         0         0         0         0         0         0
6569         0         0         0         0         0         0

[6570 rows x 6 columns]

In [33]:
#convert the data type from object to float again
n=2
for i in range(6):
    SGAI['SGAI_201'+str(n)] = SGAI['SGAI_201'+str(n)].apply(lambda x:float(x))
    n +=1

#check
SGAI.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6570 entries, 0 to 6569
Data columns (total 6 columns):
SGAI_2012    6570 non-null float64
SGAI_2013    6570 non-null float64
SGAI_2014    6570 non-null float64
SGAI_2015    6570 non-null float64
SGAI_2016    6570 non-null float64
SGAI_2017    6570 non-null float64
dtypes: float64(6)
memory usage: 359.3 KB

In [34]:
#SGAI.drop(['SGAI_2018'],axis=1,inplace=True)
#SGAI

# each value substract yearly mean
SGAI = SGAI - SGAI.mean()

# fill missing value and inf again
SGAI.fillna('0',inplace = True)
SGAI.replace((np.inf, -np.inf), (0, 0), inplace=True)

# insert the company_code column
SGAI.insert(loc=0, column='Company_code',value= sgai_element['Unnamed: 0'])
SGAI

,Company_code,SGAI_2012,SGAI_2013,SGAI_2014,SGAI_2015,SGAI_2016,SGAI_2017
0,3v3885096A,0.097466,0.037412,0.278617,0.065999,0.116496,0.366978
1,2AF3E846BD,0.118408,-0.088593,-0.226061,0.177398,0.171984,-0.799977
2,3bIlRLVgWa,0.031551,-0.016072,0.214594,-0.087902,-0.324773,0.134824
3,2oH4EBB82B,0.209072,-0.333113,-0.126511,-0.196723,-0.228297,0.219359
4,neOYOYVt6D,0.212437,0.013800,-0.070415,-0.993675,0.381416,-0.799977
...,...,...,...,...,...,...,...
6565,62jrB6GEDP,-0.900205,-1.062265,-0.951808,-1.317294,-1.220331,-0.799977
6566,08R9CCCD90,-0.900205,-1.062265,-0.951808,-1.317294,-1.220331,-0.799977
6567,4YV5A2C180,-0.900205,-1.062265,-0.951808,-1.317294,-1.220331,-0.799977
6568,3E948683E9,-0.900205,-1.062265,-0.951808,-1.317294,-1.220331,-0.799977
6569,502035469,-0.900205,-1.062265,-0.951808,-1.317294,-1.220331,-0.799977

In [35]:
SGAI2 = SGAI.copy()
SGAI2 = SGAI2.set_index(["Company_code"])
SGAI2 = SGAI2.stack()
SGAI2 = SGAI2 .reset_index()
SGAI2 = SGAI2.rename(columns={ 0: 'SGAI'})
SGAI2.insert(loc=1, column='Year',value= SGAI2['level_1'].apply(lambda x:x.split('_')[-1]))
#LVGI2['Year'] = LVGI2['level_1'].apply(lambda x:x.split('_')[-1])
SGAI2.drop('level_1', axis=1, inplace = True)
SGAI2

      Company_code  Year      SGAI
0       3v3885096A  2012  0.097466
1       3v3885096A  2013  0.037412
2       3v3885096A  2014  0.278617
3       3v3885096A  2015  0.065999
4       3v3885096A  2016  0.116496
...            ...   ...       ...
39415    502035469  2013 -1.062265
39416    502035469  2014 -0.951808
39417    502035469  2015 -1.317294
39418    502035469  2016 -1.220331
39419    502035469  2017 -0.799977

[39420 rows x 3 columns]

### 三）可调整的收入类指标

#### GMI（Gross margin index）：毛利率指数

GMI指数检测毛利率是否有异常变化。当毛利率指数大于1时，意味着毛利率缩小了。原公式认为毛利率缩小是一个消极的信号，前景不明朗的企业更有可能操纵盈余。

In [36]:
#GMI（Gross margin index）：毛利率指数
#计算公式：GMI=上期毛利率/本期毛利率
#GMI = [(Salest-1 - COGSt-1) / Salest-1] / [(Salest - COGSt) / Salest]
gmi_element_2011 = df2011[df2011.filter(regex='Unnamed: 0|OPER_REV|LESS_OPER_COST').columns]
gmi_element_2012 = df2012[df2012.filter(regex='Unnamed: 0|OPER_REV|LESS_OPER_COST').columns]
gmi_element_2013 = df2013[df2013.filter(regex='Unnamed: 0|OPER_REV|LESS_OPER_COST').columns]
gmi_element_2014 = df2014[df2014.filter(regex='Unnamed: 0|OPER_REV|LESS_OPER_COST').columns]
gmi_element_2015 = df2015[df2015.filter(regex='Unnamed: 0|OPER_REV|LESS_OPER_COST').columns]
gmi_element_2016 = df2016[df2016.filter(regex='Unnamed: 0|OPER_REV|LESS_OPER_COST').columns]
gmi_element_2017 = df2017[df2017.filter(regex='Unnamed: 0|OPER_REV|LESS_OPER_COST').columns]

# combine the above tables
from functools import reduce
dfs5 = [gmi_element_2011, gmi_element_2012, gmi_element_2013, gmi_element_2014, gmi_element_2015,  gmi_element_2016, gmi_element_2017]
gmi_element = reduce(lambda left,right: pd.merge(left,right,on='Unnamed: 0', how= 'outer'), dfs5)

#fill the na at first
gmi_element.fillna('0',inplace = True)
sgi_element = gmi_element.copy() 
gmi_element

,Unnamed: 0,LESS_OPER_COST_2011,PLUS_NON_OPER_REV_2011,TOT_OPER_REV_2011,LESS_OPER_COST_2012,PLUS_NON_OPER_REV_2012,TOT_OPER_REV_2012,LESS_OPER_COST_2013,PLUS_NON_OPER_REV_2013,TOT_OPER_REV_2013,...,TOT_OPER_REV_2014,LESS_OPER_COST_2015,PLUS_NON_OPER_REV_2015,TOT_OPER_REV_2015,LESS_OPER_COST_2016,PLUS_NON_OPER_REV_2016,TOT_OPER_REV_2016,LESS_OPER_COST_2017,PLUS_NON_OPER_REV_2017,TOT_OPER_REV_2017
0,3v3885096A,2.93369e+09,42694.9,3.19545e+09,4.24533e+09,58234.8,4.62224e+09,5.41668e+09,104462,5.92584e+09,...,7.78591e+09,8.68034e+09,1.10914e+07,9.74996e+09,1.31714e+10,2.32923e+07,1.56187e+10,1.8998e+10,6.07113e+06,2.32936e+10
1,2AF3E846BD,5.05031e+09,1.9863e+07,5.6258e+09,5.09911e+09,2.6702e+07,5.72728e+09,5.6031e+09,1.01402e+07,6.24195e+09,...,8.61768e+09,4.66263e+09,1.34743e+07,5.24071e+09,3.86752e+09,1.05646e+07,4.41772e+09,0,0,0
2,3bIlRLVgWa,2.9326e+09,3.13668e+07,4.077e+09,5.38517e+09,3.22565e+07,7.25393e+09,7.35373e+09,6.76304e+07,1.00511e+10,...,1.29801e+10,1.02784e+10,5.79788e+07,1.36938e+10,1.51307e+10,7.75136e+07,1.94807e+10,1.99835e+10,1.52229e+07,2.56287e+10
3,2oH4EBB82B,7.09855e+08,1.08737e+07,9.10431e+08,6.35161e+08,3.39235e+07,8.84543e+08,6.35257e+08,7.10112e+07,8.93427e+08,...,8.45394e+08,4.60751e+08,5.21989e+06,6.84202e+08,5.05193e+08,3.6276e+07,7.77889e+08,5.8865e+08,4.67075e+06,9.0022e+08
4,neOYOYVt6D,2.58109e+08,3.2369e+07,5.35418e+08,2.17637e+08,308203,4.75603e+08,1.98622e+08,203852,4.37841e+08,...,4.70633e+08,1.04675e+09,329556,1.81518e+09,3.17817e+08,2.46396e+06,6.57777e+08,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6565,62jrB6GEDP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6566,08R9CCCD90,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.84049e+09
6567,4YV5A2C180,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9.969e+09
6568,3E948683E9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6569,502035469,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6.15875e+09

In [37]:
# convert the dtype from object to float to make calculation free from error
for i in range(1,22):
    gmi_element.iloc[:,i] = gmi_element.iloc[:,i].apply(lambda x:float(x))

In [38]:
#GMI = [(Salest-1 - COGSt-1) / Salest-1] / [(Salest - COGSt) / Salest]
n = 2
for i in range(6,len(gmi_element.columns),3):
    gmi_element['GMI_201'+str(n)] = ((gmi_element[gmi_element.columns[i-3]]- gmi_element[gmi_element.columns[i-5]])/gmi_element[gmi_element.columns[i-3]])/((sgai_element[sgai_element.columns[i]]-sgai_element[sgai_element.columns[i-2]])/sgai_element[sgai_element.columns[i]])
    n += 1

    
# fill missing value and inf
gmi_element.fillna('0',inplace = True)
gmi_element.replace((np.inf, -np.inf), (0, 0), inplace=True)

#extract GMI cols
GMI = gmi_element.filter(like = 'GMI') 
GMI

        GMI_2012   GMI_2013   GMI_2014    GMI_2015    GMI_2016  GMI_2017
0    -0.00253514  0.0815956  0.0879541 -0.00502564 -0.00607636  0.160883
1    -0.00229877   0.132217   0.104449   -0.023174 -0.00128614  0.135054
2     -0.0102736   0.269205   0.273498  -0.0244923 -0.00735659  0.230457
3      -0.102898   0.578567   0.367364   -0.165301  -0.0557518  0.382208
4     -0.0170228   0.545155   0.565877 -0.00681535  -0.0207757  0.520974
...          ...        ...        ...         ...         ...       ...
6565           0          0          0           0           0         0
6566           0          0          0           0           0         0
6567           0          0          0           0           0         0
6568           0          0          0           0           0         0
6569           0          0          0           0           0         0

[6570 rows x 6 columns]

In [39]:
#convert the data type from object to float again
n=2
for i in range(6):
    GMI['GMI_201'+str(n)] = GMI['GMI_201'+str(n)].apply(lambda x:float(x))
    n +=1

#check
GMI.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6570 entries, 0 to 6569
Data columns (total 6 columns):
GMI_2012    6570 non-null float64
GMI_2013    6570 non-null float64
GMI_2014    6570 non-null float64
GMI_2015    6570 non-null float64
GMI_2016    6570 non-null float64
GMI_2017    6570 non-null float64
dtypes: float64(6)
memory usage: 359.3 KB

In [40]:
# each value substract yearly mean
GMI = GMI - GMI.mean()

# fill missing value and inf again
GMI.fillna('0',inplace = True)
GMI.replace((np.inf, -np.inf), (0, 0), inplace=True)

# insert the company_code column
GMI.insert(loc=0, column='Company_code',value= gmi_element['Unnamed: 0'])
GMI

     Company_code  GMI_2012  GMI_2013  GMI_2014  GMI_2015  GMI_2016  GMI_2017
0      3v3885096A  0.033603 -0.291081 -0.156935  0.121062  0.000806  0.054563
1      2AF3E846BD  0.033839 -0.240460 -0.140440  0.102913  0.005596  0.028733
2      3bIlRLVgWa  0.025864 -0.103472  0.028609  0.101595 -0.000475  0.124137
3      2oH4EBB82B -0.066760  0.205890  0.122475 -0.039214 -0.048870  0.275888
4      neOYOYVt6D  0.019115  0.172478  0.320988  0.119272 -0.013894  0.414654
...           ...       ...       ...       ...       ...       ...       ...
6565   62jrB6GEDP  0.036138 -0.372677 -0.244889  0.126087  0.006882 -0.106320
6566   08R9CCCD90  0.036138 -0.372677 -0.244889  0.126087  0.006882 -0.106320
6567   4YV5A2C180  0.036138 -0.372677 -0.244889  0.126087  0.006882 -0.106320
6568   3E948683E9  0.036138 -0.372677 -0.244889  0.126087  0.006882 -0.106320
6569    502035469  0.036138 -0.372677 -0.244889  0.126087  0.006882 -0.106320

[6570 rows x 7 columns]

In [41]:
GMI2 = GMI.copy()
GMI2 = GMI2.set_index(["Company_code"])
GMI2 = GMI2.stack()
GMI2 = GMI2 .reset_index()
GMI2 = GMI2.rename(columns={ 0: 'GMI'})
GMI2.insert(loc=1, column='Year',value= GMI2['level_1'].apply(lambda x:x.split('_')[-1]))
#LVGI2['Year'] = LVGI2['level_1'].apply(lambda x:x.split('_')[-1])
GMI2.drop('level_1', axis=1, inplace = True)
GMI2

      Company_code  Year       GMI
0       3v3885096A  2012  0.033603
1       3v3885096A  2013 -0.291081
2       3v3885096A  2014 -0.156935
3       3v3885096A  2015  0.121062
4       3v3885096A  2016  0.000806
...            ...   ...       ...
39415    502035469  2013 -0.372677
39416    502035469  2014 -0.244889
39417    502035469  2015  0.126087
39418    502035469  2016  0.006882
39419    502035469  2017 -0.106320

[39420 rows x 3 columns]

#### SGI（Sales growth index）：营业收入指数

SGI指数检验营业收入是否有异常变动，操控利润通常都要通过操控营业收入。销售增长指数指第本期的销售额与上期的销售额的比率。如果比例增长并不意味着操纵收益，但因为增长中的公司更加容易有财务报表操纵的动力和压力。

In [42]:
# convert the dtype from object to float to make calculation free from error
for i in range(1,22):
    sgi_element.iloc[:,i] = sgi_element.iloc[:,i].apply(lambda x:float(x))

In [43]:
#计算公式：SGI=本期营业收入/上期营业收入
# SGI = Salest / Salest-1
n = 2
for i in range(6,len(sgi_element.columns),3):
    sgi_element['SGI_201'+str(n)] = sgi_element[sgi_element.columns[i]]/sgi_element[sgi_element.columns[i-3]]
    n += 1

# fill missing value and inf
sgi_element.fillna('0',inplace = True)
sgi_element.replace((np.inf, -np.inf), (0, 0), inplace=True)

#extract SGI cols
SGI = sgi_element.filter(like = 'SGI') 
SGI

      SGI_2012  SGI_2013  SGI_2014  SGI_2015  SGI_2016 SGI_2017
0      1.44651   1.28203   1.31389   1.25226   1.60192   1.4914
1      1.01804   1.08986   1.38061  0.608135  0.842962        0
2      1.77923   1.38561   1.29141   1.05498    1.4226  1.31559
3     0.971565   1.01004  0.946237   0.80933   1.13693  1.15726
4     0.888283  0.920603   1.07489   3.85689  0.362376        0
...        ...       ...       ...       ...       ...      ...
6565         0         0         0         0         0        0
6566         0         0         0         0         0        0
6567         0         0         0         0         0        0
6568         0         0         0         0         0        0
6569         0         0         0         0         0        0

[6570 rows x 6 columns]

In [44]:
#convert the data type from object to float again
n=2
for i in range(6):
    SGI['SGI_201'+str(n)] = SGI['SGI_201'+str(n)].apply(lambda x:float(x))
    n +=1

# each value substract yearly mean
SGI = SGI - SGI.mean()

# fill missing value and inf again
SGI.fillna('0',inplace = True)
SGI.replace((np.inf, -np.inf), (0, 0), inplace=True)

# insert the company_code column
SGI.insert(loc=0, column='Company_code',value= sgi_element['Unnamed: 0'])
SGI

,Company_code,SGI_2012,SGI_2013,SGI_2014,SGI_2015,SGI_2016,SGI_2017
0,3v3885096A,-1.712877,-1.325878,-0.882027,-175.999933,0.589471,-8.975432
1,2AF3E846BD,-2.141346,-1.518044,-0.815309,-176.644056,-0.169488,-10.466829
2,3bIlRLVgWa,-1.380153,-1.222294,-0.904509,-176.197212,0.410148,-9.151234
3,2oH4EBB82B,-2.187818,-1.597863,-1.249680,-176.442861,0.124478,-9.309569
4,neOYOYVt6D,-2.271101,-1.687304,-1.121024,-173.395302,-0.650074,-10.466829
...,...,...,...,...,...,...,...
6565,62jrB6GEDP,-3.159384,-2.607907,-2.195918,-177.252190,-1.012451,-10.466829
6566,08R9CCCD90,-3.159384,-2.607907,-2.195918,-177.252190,-1.012451,-10.466829
6567,4YV5A2C180,-3.159384,-2.607907,-2.195918,-177.252190,-1.012451,-10.466829
6568,3E948683E9,-3.159384,-2.607907,-2.195918,-177.252190,-1.012451,-10.466829
6569,502035469,-3.159384,-2.607907,-2.195918,-177.252190,-1.012451,-10.466829

In [45]:
SGI2 = SGI.copy()
SGI2 = SGI2.set_index(["Company_code"])
SGI2 = SGI2.stack()
SGI2 = SGI2 .reset_index()
SGI2 = SGI2.rename(columns={ 0: 'SGI'})
SGI2.insert(loc=1, column='Year',value= SGI2['level_1'].apply(lambda x:x.split('_')[-1]))
#LVGI2['Year'] = LVGI2['level_1'].apply(lambda x:x.split('_')[-1])
SGI2.drop('level_1', axis=1, inplace = True)
SGI2

      Company_code  Year         SGI
0       3v3885096A  2012   -1.712877
1       3v3885096A  2013   -1.325878
2       3v3885096A  2014   -0.882027
3       3v3885096A  2015 -175.999933
4       3v3885096A  2016    0.589471
...            ...   ...         ...
39415    502035469  2013   -2.607907
39416    502035469  2014   -2.195918
39417    502035469  2015 -177.252190
39418    502035469  2016   -1.012451
39419    502035469  2017  -10.466829

[39420 rows x 3 columns]

### 四）应该调整的杠杆率指标

#### LVGI（Leverage index）：财务杠杆指数

LVGI指数检测公司的债务状况有无变动。原公式认为如果本期负债率上升，财务操纵的可能性是降低的，因为发展中公司偏向于借债，偿还能力佳，并且将负债显示在报表上更加增加财务可信度。

In [46]:
#计算公式：LVGI=本期资产负债率/上期资产负债率
#LVGI = [(Current Liabilitiest + Total Long Term Debtt) / Total Assetst] / [(Current Liabilitiest-1 + Total Long Term Debtt-1) / Total Assetst-1]
lvgi_element_2011 = df2011[df2011.filter(regex='Unnamed: 0|TOT_CUR_LIAB|LT_BORROW|TOT_ASSETS').columns]
lvgi_element_2012 = df2012[df2012.filter(regex='Unnamed: 0|TOT_CUR_LIAB|LT_BORROW|TOT_ASSETS').columns]
lvgi_element_2013 = df2013[df2013.filter(regex='Unnamed: 0|TOT_CUR_LIAB|LT_BORROW|TOT_ASSETS').columns]
lvgi_element_2014 = df2014[df2014.filter(regex='Unnamed: 0|TOT_CUR_LIAB|LT_BORROW|TOT_ASSETS').columns]
lvgi_element_2015 = df2015[df2015.filter(regex='Unnamed: 0|TOT_CUR_LIAB|LT_BORROW|TOT_ASSETS').columns]
lvgi_element_2016 = df2016[df2016.filter(regex='Unnamed: 0|TOT_CUR_LIAB|LT_BORROW|TOT_ASSETS').columns]
lvgi_element_2017 = df2017[df2017.filter(regex='Unnamed: 0|TOT_CUR_LIAB|LT_BORROW|TOT_ASSETS').columns]

# combine the above tables
from functools import reduce
dfs6 = [lvgi_element_2011, lvgi_element_2012, lvgi_element_2013, lvgi_element_2014, lvgi_element_2015,  lvgi_element_2016, lvgi_element_2017]
lvgi_element = reduce(lambda left,right: pd.merge(left,right,on='Unnamed: 0', how= 'outer'), dfs6)

#fill the na at first
lvgi_element.fillna('0',inplace = True)
lvgi_element

,Unnamed: 0,LT_BORROW_2011,TOT_ASSETS_2011,TOT_CUR_LIAB_2011,LT_BORROW_2012,TOT_ASSETS_2012,TOT_CUR_LIAB_2012,LT_BORROW_2013,TOT_ASSETS_2013,TOT_CUR_LIAB_2013,...,TOT_CUR_LIAB_2014,LT_BORROW_2015,TOT_ASSETS_2015,TOT_CUR_LIAB_2015,LT_BORROW_2016,TOT_ASSETS_2016,TOT_CUR_LIAB_2016,LT_BORROW_2017,TOT_ASSETS_2017,TOT_CUR_LIAB_2017
0,3v3885096A,0,2.21755e+09,1.40044e+09,0,3.12037e+09,2.20398e+09,0,4.45423e+09,2.80424e+09,...,3.85303e+09,0,8.86169e+09,5.45734e+09,0,1.56568e+10,8.15417e+09,6.672e+08,2.6983e+10,1.56181e+10
1,2AF3E846BD,3.5e+08,6.96916e+09,4.79321e+09,3.2e+08,8.08716e+09,5.30649e+09,1.061e+09,8.63519e+09,5.02911e+09,...,5.80988e+09,5.35125e+08,1.26567e+10,9.80787e+09,5.275e+08,1.21163e+10,9.13636e+09,0,0,0
2,3bIlRLVgWa,1.05e+08,6.28017e+09,3.99398e+09,1.35793e+08,1.07991e+10,5.38726e+09,4.2393e+07,1.49016e+10,7.84186e+09,...,7.1206e+09,1.7429e+09,2.22432e+10,7.68002e+09,4.0425e+08,2.69623e+10,1.09e+10,9.95744e+08,3.22422e+10,1.20681e+10
3,2oH4EBB82B,8.17364e+07,1.90677e+09,9.30234e+08,1.3e+07,1.86339e+09,1.26197e+09,9.55e+07,2.08658e+09,1.29427e+09,...,1.17034e+09,7.1e+07,2.14363e+09,1.11277e+09,5.1e+07,2.05908e+09,1.03009e+09,5.20419e+07,2.11518e+09,1.01061e+09
4,neOYOYVt6D,1.1899e+09,2.84962e+09,7.49034e+08,7.759e+08,3.15847e+09,1.35789e+09,3.143e+08,3.81733e+09,2.39778e+09,...,2.5135e+09,8.182e+08,3.8093e+09,1.27399e+09,7.13991e+08,4.27422e+09,2.08257e+09,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6565,62jrB6GEDP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6566,08R9CCCD90,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2.45876e+10,0
6567,4YV5A2C180,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1.5774e+10,0
6568,3E948683E9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6.28825e+08,9.26129e+07
6569,502035469,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
# convert the dtype from object to float to make calculation free from error
for i in range(1,22):
    lvgi_element.iloc[:,i] = lvgi_element.iloc[:,i].apply(lambda x:float(x))

In [48]:
#LVGI = [(Current Liabilitiest + Total Long Term Debtt) / Total Assetst] / [(Current Liabilitiest-1 + Total Long Term Debtt-1) / Total Assetst-1]
n = 2
for i in range(6,len(lvgi_element.columns),3):
    lvgi_element['LVGI_201'+str(n)] = ((lvgi_element[lvgi_element.columns[i]] + lvgi_element[lvgi_element.columns[i-2]])/lvgi_element[lvgi_element.columns[i-1]]) / ((lvgi_element[lvgi_element.columns[i-3]] + lvgi_element[lvgi_element.columns[i-5]])/lvgi_element[lvgi_element.columns[i-4]])
    n += 1

# fill missing value and inf
lvgi_element.fillna('0',inplace = True)
lvgi_element.replace((np.inf, -np.inf), (0, 0), inplace=True)

#extract SGI cols
LVGI = lvgi_element.filter(like = 'LVGI') 
LVGI

     LVGI_2012 LVGI_2013 LVGI_2014 LVGI_2015 LVGI_2016 LVGI_2017
0      1.11844  0.891335    1.0778  0.907575  0.845691   1.15886
1     0.942729   1.01371   1.01598   1.14048  0.976008         0
2     0.783589   1.03451  0.798285     1.003  0.989686  0.966414
3      1.28922  0.973442  0.851193  0.974053  0.950757  0.956874
4     0.992885   1.05164  0.915935  0.844011   1.19127         0
...        ...       ...       ...       ...       ...       ...
6565         0         0         0         0         0         0
6566         0         0         0         0         0         0
6567         0         0         0         0         0         0
6568         0         0         0         0         0         0
6569         0         0         0         0         0         0

[6570 rows x 6 columns]

In [49]:
#convert the data type from object to float again
n=2
for i in range(6):
    LVGI['LVGI_201'+str(n)] = LVGI['LVGI_201'+str(n)].apply(lambda x:float(x))
    n +=1

# each value substract yearly mean
LVGI = LVGI - LVGI.mean()

# fill missing value and inf again
LVGI.fillna('0',inplace = True)
LVGI.replace((np.inf, -np.inf), (0, 0), inplace=True)

# insert the company_code column
LVGI.insert(loc=0, column='Company_code',value= lvgi_element['Unnamed: 0'])
LVGI

,Company_code,LVGI_2012,LVGI_2013,LVGI_2014,LVGI_2015,LVGI_2016,LVGI_2017
0,3v3885096A,0.379609,-0.074658,-1.137926,0.012243,-15.919539,0.366285
1,2AF3E846BD,0.203903,0.047714,-1.199746,0.245145,-15.789222,-0.792574
2,3bIlRLVgWa,0.044763,0.068520,-1.417442,0.107666,-15.775544,0.173841
3,2oH4EBB82B,0.550395,0.007449,-1.364534,0.078720,-15.814473,0.164300
4,neOYOYVt6D,0.254058,0.085650,-1.299792,-0.051321,-15.573956,-0.792574
...,...,...,...,...,...,...,...
6565,62jrB6GEDP,-0.738827,-0.965993,-2.215727,-0.895332,-16.765230,-0.792574
6566,08R9CCCD90,-0.738827,-0.965993,-2.215727,-0.895332,-16.765230,-0.792574
6567,4YV5A2C180,-0.738827,-0.965993,-2.215727,-0.895332,-16.765230,-0.792574
6568,3E948683E9,-0.738827,-0.965993,-2.215727,-0.895332,-16.765230,-0.792574
6569,502035469,-0.738827,-0.965993,-2.215727,-0.895332,-16.765230,-0.792574

In [50]:
LVGI2 = LVGI.copy()
LVGI2 = LVGI2.set_index(["Company_code"])
LVGI2 = LVGI2.stack()
LVGI2 = LVGI2 .reset_index()
LVGI2 = LVGI2.rename(columns={ 0: 'LVGI'})
LVGI2.insert(loc=1, column='Year',value= LVGI2['level_1'].apply(lambda x:x.split('_')[-1]))
#LVGI2['Year'] = LVGI2['level_1'].apply(lambda x:x.split('_')[-1])
LVGI2.drop('level_1', axis=1, inplace = True)
LVGI2

      Company_code  Year       LVGI
0       3v3885096A  2012   0.379609
1       3v3885096A  2013  -0.074658
2       3v3885096A  2014  -1.137926
3       3v3885096A  2015   0.012243
4       3v3885096A  2016 -15.919539
...            ...   ...        ...
39415    502035469  2013  -0.965993
39416    502035469  2014  -2.215727
39417    502035469  2015  -0.895332
39418    502035469  2016 -16.765230
39419    502035469  2017  -0.792574

[39420 rows x 3 columns]

In [51]:
###combine all together

In [52]:
dfs7 = [DSRI2, AQI2, TATA2, SGAI2, GMI2, SGI2, LVGI2]
Beneish_Table = reduce(lambda left,right: pd.merge(left,right,on=['Company_code','Year'], how= 'outer'), dfs7)
Beneish_Table

,Company_code,Year,DSRI,AQI,TATA,SGAI,GMI,SGI,LVGI
0,3v3885096A,2012,-2.566608,3.287658e+10,-0.203721,0.097466,0.033603,-1.712877,0.379609
1,3v3885096A,2013,-8.622289,1.517351e+06,-0.140108,0.037412,-0.291081,-1.325878,-0.074658
2,3v3885096A,2014,-64.871059,-3.246717e+11,-214853.517764,0.278617,-0.156935,-0.882027,-1.137926
3,3v3885096A,2015,-3.472914,3.858816e+10,-0.035483,0.065999,0.121062,-175.999933,0.012243
4,3v3885096A,2016,-19.707651,-1.972522e+10,0.095970,0.116496,0.000806,0.589471,-15.919539
...,...,...,...,...,...,...,...,...,...
39415,502035469,2013,-9.639831,1.517350e+06,-0.329024,-1.062265,-0.372677,-2.607907,-0.965993
39416,502035469,2014,-65.910046,-3.246717e+11,-214853.582462,-0.951808,-0.244889,-2.195918,-2.215727
39417,502035469,2015,-4.567092,3.858816e+10,-0.098390,-1.317294,0.126087,-177.252190,-0.895332
39418,502035469,2016,-20.806030,-1.972522e+10,-0.173153,-1.220331,0.006882,-1.012451,-16.765230
39419,502035469,2017,-19.600660,-4.200354e+10,-0.108819,-0.799977,-0.106320,-10.466829,-0.792574

In [53]:
df8 = pd.read_csv("/Users/jiayangdu/Desktop/PWC/Rating Analysis/ratings.csv")
df9 = df8[['S_INFO_COMPCODE','S_INFO_COMPNAME']]
df9 = df9.rename(columns={'S_INFO_COMPCODE': 'Company_code'})
df9

      Company_code  S_INFO_COMPNAME
0         1.58E+03  宜昌市城市建设投资开发有限公司
1         1.58E+03  宜昌市城市建设投资开发有限公司
2         1.58E+03  宜昌市城市建设投资开发有限公司
3         1.58E+03  宜昌市城市建设投资开发有限公司
4         1.58E+03  宜昌市城市建设投资开发有限公司
...            ...              ...
58917   ZZ2NykeKFm       安徽省供销商业总公司
58918   zzanhHx7Op       青岛康泰集团有限公司
58919   zzanhHx7Op       青岛康泰集团有限公司
58920   zzanhHx7Op       青岛康泰集团有限公司
58921   zzanhHx7Op       青岛康泰集团有限公司

[58922 rows x 2 columns]

In [54]:
df10 = pd.merge(df9, Beneish_Table, on='Company_code', how='right')
df10.drop_duplicates(inplace= True)
df10

,Company_code,S_INFO_COMPNAME,Year,DSRI,AQI,TATA,SGAI,GMI,SGI,LVGI
0,110085,中国金茂(集团)有限公司,2012,-1.675054,3.287658e+10,-0.635608,0.710421,0.015287,-2.559691,0.138512
13,110085,中国金茂(集团)有限公司,2013,-8.656972,1.517351e+06,-0.520042,-0.091722,0.239491,-1.628689,-0.258601
26,110085,中国金茂(集团)有限公司,2014,-64.727676,-3.246717e+11,-214853.551850,0.304847,0.365648,-1.168994,-1.363462
39,110085,中国金茂(集团)有限公司,2015,-3.405379,3.858816e+10,0.483114,-0.411482,0.109156,-176.205426,0.083685
52,110085,中国金茂(集团)有限公司,2016,-19.513332,-1.972522e+10,2.505555,-0.204307,-0.027593,-0.023355,-15.616353
...,...,...,...,...,...,...,...,...,...,...
295663,502035469,NaN,2013,-9.639831,1.517350e+06,-0.329024,-1.062265,-0.372677,-2.607907,-0.965993
295664,502035469,NaN,2014,-65.910046,-3.246717e+11,-214853.582462,-0.951808,-0.244889,-2.195918,-2.215727
295665,502035469,NaN,2015,-4.567092,3.858816e+10,-0.098390,-1.317294,0.126087,-177.252190,-0.895332
295666,502035469,NaN,2016,-20.806030,-1.972522e+10,-0.173153,-1.220331,0.006882,-1.012451,-16.765230
295667,502035469,NaN,2017,-19.600660,-4.200354e+10,-0.108819,-0.799977,-0.106320,-10.466829,-0.792574

In [55]:
table = pd.pivot_table(df10, values=['DSRI', 'AQI','TATA','SGAI','GMI','SGI','LVGI'], index=['Company_code', 'S_INFO_COMPNAME','Year'])
table

                                            AQI       DSRI       GMI  \
Company_code S_INFO_COMPNAME Year
00opNxIVxk   常州天山重工机械有限公司    2012  3.287658e+10  -2.346129  0.030601
                             2013  1.517350e+06  -9.639831 -0.372677
                             2014 -3.246717e+11 -65.910046 -0.244889
                             2015  3.858816e+10  -4.567092  0.126087
                             2016 -1.972522e+10 -20.806030  0.006882
...                                         ...        ...       ...
zzanhHx7Op   青岛康泰集团有限公司      2013  1.517352e+06  -8.441332  0.851181
                             2014 -3.246717e+11 -64.789872  0.008637
                             2015  3.858816e+10  -4.567092  0.115927
                             2016 -1.972522e+10 -20.806030  0.006882
                             2017 -4.200354e+10 -19.600660 -0.106320

                                        LVGI      SGAI         SGI  \
Company_code S_INFO_COMPNAME Year
00opNxIVxk   常州天山重工机械有限公司    2012   0.445738  0.416861   -2.247501
                             2013  -0.965993 -1.062265   -2.607907
                             2014  -2.215727 -0.951808   -2.195918
                             2015  -0.895332 -1.317294 -177.252190
                             2016 -16.765230 -1.220331   -1.012451
...                                      ...       ...         ...
zzanhHx7Op   青岛康泰集团有限公司      2013  -0.047719 -0.084679   -1.622458
                             2014  -1.167363  0.104049   -1.034689
                             2015  -0.895332 -1.317294 -177.252190
                             2016 -16.765230 -1.220331   -1.012451
                             2017  -0.792574 -0.799977  -10.466829

                                            TATA
Company_code S_INFO_COMPNAME Year
00opNxIVxk   常州天山重工机械有限公司    2012      -3.837013
                             2013      -0.387803
                             2014 -214853.582462
                             2015      -0.098390
                             2016      -0.173153
...                                          ...
zzanhHx7Op   青岛康泰集团有限公司      2013      -8.883235
                             2014 -214852.326442
                             2015      -0.007175
                             2016      -0.173153
                             2017      -0.108819

[34662 rows x 7 columns]

In [56]:
Beneish_Model = table.reset_index()

In [57]:
Beneish_Model

,Company_code,S_INFO_COMPNAME,Year,AQI,DSRI,GMI,LVGI,SGAI,SGI,TATA
0,00opNxIVxk,常州天山重工机械有限公司,2012,3.287658e+10,-2.346129,0.030601,0.445738,0.416861,-2.247501,-3.837013
1,00opNxIVxk,常州天山重工机械有限公司,2013,1.517350e+06,-9.639831,-0.372677,-0.965993,-1.062265,-2.607907,-0.387803
2,00opNxIVxk,常州天山重工机械有限公司,2014,-3.246717e+11,-65.910046,-0.244889,-2.215727,-0.951808,-2.195918,-214853.582462
3,00opNxIVxk,常州天山重工机械有限公司,2015,3.858816e+10,-4.567092,0.126087,-0.895332,-1.317294,-177.252190,-0.098390
4,00opNxIVxk,常州天山重工机械有限公司,2016,-1.972522e+10,-20.806030,0.006882,-16.765230,-1.220331,-1.012451,-0.173153
...,...,...,...,...,...,...,...,...,...,...
34657,zzanhHx7Op,青岛康泰集团有限公司,2013,1.517352e+06,-8.441332,0.851181,-0.047719,-0.084679,-1.622458,-8.883235
34658,zzanhHx7Op,青岛康泰集团有限公司,2014,-3.246717e+11,-64.789872,0.008637,-1.167363,0.104049,-1.034689,-214852.326442
34659,zzanhHx7Op,青岛康泰集团有限公司,2015,3.858816e+10,-4.567092,0.115927,-0.895332,-1.317294,-177.252190,-0.007175
34660,zzanhHx7Op,青岛康泰集团有限公司,2016,-1.972522e+10,-20.806030,0.006882,-16.765230,-1.220331,-1.012451,-0.173153
34661,zzanhHx7Op,青岛康泰集团有限公司,2017,-4.200354e+10,-19.600660,-0.106320,-0.792574,-0.799977,-10.466829,-0.108819

### Label Creation

In [58]:
df8 = pd.read_csv("/Users/jiayangdu/Desktop/PWC/Rating Analysis/ratings.csv")
df8.head()

,S_INFO_COMPCODE,ANN_DT,S_INFO_COMPNAME,B_INFO_CREDITRATINGAGENCY,B_INFO_CREDITRATING,B_INFO_PRECREDITRATING
0,1.58E+03,20110705,宜昌市城市建设投资开发有限公司,6,AA,NaN
1,1.58E+03,20120428,宜昌市城市建设投资开发有限公司,6,AA,AA
2,1.58E+03,20120611,宜昌市城市建设投资开发有限公司,6,AA,AA
3,1.58E+03,20130622,宜昌市城市建设投资开发有限公司,6,AA,AA
4,1.58E+03,20140620,宜昌市城市建设投资开发有限公司,6,AA,AA

In [59]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58922 entries, 0 to 58921
Data columns (total 6 columns):
S_INFO_COMPCODE              58922 non-null object
ANN_DT                       58922 non-null int64
S_INFO_COMPNAME              58914 non-null object
B_INFO_CREDITRATINGAGENCY    58922 non-null int64
B_INFO_CREDITRATING          58922 non-null object
B_INFO_PRECREDITRATING       48564 non-null object
dtypes: int64(2), object(4)
memory usage: 2.7+ MB

In [60]:
# extract year and month out 
# label是有时间概念的，得看年报日期之后一年内的评级变化
df8['Year'] = df8['ANN_DT'].apply(lambda x:str(x)[:4])
df8['Month'] = df8['ANN_DT'].apply(lambda x:str(x)[4:6])

In [61]:
df8['B_INFO_CREDITRATINGAGENCY'] = df8['B_INFO_CREDITRATINGAGENCY'].apply(lambda x:str(x))

In [62]:
#将表 由最近到之前 来排序 （2018 -1995）
df8 = df8.sort_values('Year', ascending = False)

可以发现该评级表包含142个公司，有些公司的名字缺失了但是公司代码都是齐全的没有缺失，一共有20家不同的评级机构； 其次评级一共有44个等级，有些公司的precredit缺失，证明该公司在该时间点以前没有参加过评级，此次为第一次；其次该表记录了从 1995 年到 2018年共24年的记录

In [63]:
df8.describe(include = 'O')

,S_INFO_COMPCODE,S_INFO_COMPNAME,B_INFO_CREDITRATINGAGENCY,B_INFO_CREDITRATING,B_INFO_PRECREDITRATING,Year,Month
count,58922,58914,58922,58922,48564,58922,58922
unique,7263,7589,20,44,40,24,12
top,3ID9303623,中债信用增进投资股份有限公司,2,AA,AA,2017,06
freq,142,142,12906,22672,18896,9518,15155

1）因为评级是有时效性的，所以label的创建都建立在一年以内的变化，2） 其次年报日期之后一年内评级可能没有变化，也可能有多条记录，只要有一条以上记录是下调的我们就认为下调了

所以接下来我先看哪些公司的precreditrating是AA以上的（包含AA）:为了方便筛选，此处我多加一个column， 将评级按数字划分，将AA以上的（包含AA）标记为1，将aa以下的标记为0 (因为不是所有的下调我们都管，我们只管预测从AA以上跌到AA以下的，所以该划分只以AA作为节点)

In [64]:
df10=df8.copy()
df10.dropna(inplace = True)

In [65]:
df10.loc[df10['B_INFO_PRECREDITRATING'].str.contains('AA')]['B_INFO_PRECREDITRATING'].unique()

array(['AA+', 'AA', 'AAA', 'AA-', 'AAA-'], dtype=object)

In [66]:
df10['PRECREDITRATING_code'] = np.where((df10['B_INFO_PRECREDITRATING'] == 'AAA')|(df10['B_INFO_PRECREDITRATING'] == 'AA+')|(df10['B_INFO_PRECREDITRATING'] == 'AA'), '1', '0')
#注意原表pre有na因为第一次评级，这个是算？？？

接下来我们再看哪些公司的creditrating是aa以上的（包含aa），同样此处我多加一个column， 将评级按数字划分，将aa以上的（包含aa）标记为1，将aa以下的标记为0

In [67]:
df10.loc[df10['B_INFO_CREDITRATING'].str.contains('AA')]['B_INFO_CREDITRATING'].unique()

array(['AA+', 'AA', 'AAA', 'AA-', 'AAA-'], dtype=object)

In [68]:
df10['CREDITRATING_code'] = np.where((df10['B_INFO_CREDITRATING'] == 'AAA')|(df10['B_INFO_PRECREDITRATING'] == 'AA+')|(df10['B_INFO_PRECREDITRATING'] == 'AA'), '1', '0')

接下来我们需要筛选评级从AA以上（包含AA）下调到AA以下的记录，此时可以通过创建一个新的column计算上面两个code之间的差(筛选从precreditrating到creditrating的下降），值为负数的则表示下调了, 0值代表暂无下调，正值代表评级从AA以下上调了

In [69]:
df10['CREDITRATING_code'] = df10['CREDITRATING_code'].apply(lambda x:int(x))
df10['PRECREDITRATING_code'] = df10['PRECREDITRATING_code'].apply(lambda x:int(x))

df10['Rating_Change'] = df10['CREDITRATING_code'] - df10['PRECREDITRATING_code']

所以0和1都代表’评级未下调‘，为了方便之后的操作，此处我们将1也变成0 （所以之后按时间和公司求Rating_Change的和，只要有一条下调记录，和就会为负值，没有就保持在0）

In [70]:
df10['Rating_Change'].replace(1,0,inplace=True)

In [71]:
df10

,S_INFO_COMPCODE,ANN_DT,S_INFO_COMPNAME,B_INFO_CREDITRATINGAGENCY,B_INFO_CREDITRATING,B_INFO_PRECREDITRATING,Year,Month,PRECREDITRATING_code,CREDITRATING_code,Rating_Change
25205,15978B,20180521,新疆金特钢铁股份有限公司,14,CC,B-,2018,05,0,0,0
39131,4J1460AB8E,20180725,重庆市江北嘴中央商务区投资集团有限公司,5,AA+,AA+,2018,07,1,1,0
15156,755375070,20180626,遵义市红花岗城市建设投资经营有限公司,19,AA,AA,2018,06,1,1,0
39106,4iIMTWF2HN,20180626,巢湖市城镇建设投资有限公司,2,AA,AA,2018,06,1,1,0
15152,755079714,20180620,海安城镇建设投资有限公司,7,AA,AA,2018,06,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
12035,502037343,19981203,中信银行股份有限公司,16,Baa3,Baa3,1998,12,0,0,0
6873,2002176,19950419,中国工商银行股份有限公司,16,Baa2,A3,1995,04,0,0,0
6963,2002178,19950419,中国银行股份有限公司,16,Baa2,A3,1995,04,0,0,0
6833,2002175,19950419,中国建设银行股份有限公司,16,Baa2,A3,1995,04,0,0,0
6795,2002174,19950419,交通银行股份有限公司,16,Baa2,A3,1995,04,0,0,0

接下来我们按照上面的标准创建label，先按时间划分看每年公司参加评级的次数，然后看该年内参加多次评级的公司，有关他们的任意一条评级记录中有没有下调记录； 另外因为有些公司的名称有缺失，所以我们有公司代码分组；label为1代表公司在该年内有下调记录，0表示没有

In [72]:
df11 = df10.groupby(['Year','S_INFO_COMPCODE'])[['Rating_Change']].sum()
df11

                      Rating_Change
Year S_INFO_COMPCODE
1995 2002174                      0
     2002175                      0
     2002176                      0
     2002178                      0
1998 08R9CB8D22                   0
...                             ...
2018 znpk4s5q2s                   0
     zpaD9Dpyu1                   0
     zqMLqmFBZB                   0
     zu32At651Q                   0
     zy02ft6t9K                   0

[27767 rows x 1 columns]

In [73]:
#检查一下做的对不对
df11.loc[df11['Rating_Change']<0]

                      Rating_Change
Year S_INFO_COMPCODE
2009 2011375                     -1
2012 2AF466B84C                  -1
2013 0yJ94AEF7F                  -1
     F8072                       -1
     FCB72                       -1
2014 1000528                     -1
     qzc6agrEHE                  -1
2015 45PAE0F0E2                  -1
2016 08Q85EA75D                  -2
     0MG85D045B                  -1
     0PD69F911A                  -1
     0PM5B68EE9                  -1
     1600010                     -1
     2BhvUbf6vl                  -1
     F8C51                       -2
     UB6D2620                    -1
2017 16B90F6B30                  -1
     3A55779549                  -1
     lJhi9SNEoQ                  -1
2018 16G3B2175F                  -1
     PnrDdfk5XQ                  -1
     cgsvIRbMjQ                  -3

In [74]:
df8.loc[(df8['S_INFO_COMPCODE'] == 'cgsvIRbMjQ') & (df8['Year'] == '2018')]

,S_INFO_COMPCODE,ANN_DT,S_INFO_COMPNAME,B_INFO_CREDITRATINGAGENCY,B_INFO_CREDITRATING,B_INFO_PRECREDITRATING,Year,Month
44093,cgsvIRbMjQ,20180409,上海华信国际集团有限公司,5,AA,AA+,2018,04
44107,cgsvIRbMjQ,20180821,上海华信国际集团有限公司,5,C,C,2018,08
44106,cgsvIRbMjQ,20180731,上海华信国际集团有限公司,5,C,C,2018,07
44089,cgsvIRbMjQ,20180301,上海华信国际集团有限公司,5,AA+,AAA,2018,03
44091,cgsvIRbMjQ,20180308,上海华信国际集团有限公司,2,AA+,AAA,2018,03
44092,cgsvIRbMjQ,20180330,上海华信国际集团有限公司,2,AA-,AA+,2018,03
44094,cgsvIRbMjQ,20180410,上海华信国际集团有限公司,7,AA,AA+,2018,04
44095,cgsvIRbMjQ,20180502,上海华信国际集团有限公司,2,BBB-,AA-,2018,05
44096,cgsvIRbMjQ,20180504,上海华信国际集团有限公司,7,BBB+,AA,2018,05
44097,cgsvIRbMjQ,20180504,上海华信国际集团有限公司,5,BBB+,AA,2018,05
44098,cgsvIRbMjQ,20180515,上海华信国际集团有限公司,5,B,BBB+,2018,05
44103,cgsvIRbMjQ,20180522,上海华信国际集团有限公司,2,CC,BB,2018,05
44104,cgsvIRbMjQ,20180622,上海华信国际集团有限公司,2,C,CC,2018,06
44105,cgsvIRbMjQ,20180626,上海华信国际集团有限公司,5,C,C,2018,06
44099,cgsvIRbMjQ,20180515,上海华信国际集团有限公司,7,B,BBB+,2018,05
44090,cgsvIRbMjQ,20180302,上海华信国际集团有限公司,7,AA+,AAA,2018,03
44100,cgsvIRbMjQ,20180516,上海华信国际集团有限公司,2,BB,BBB-,2018,05
44101,cgsvIRbMjQ,20180521,上海华信国际集团有限公司,5,C,B,2018,05
44102,cgsvIRbMjQ,20180522,上海华信国际集团有限公司,7,C,B,2018,05
44088,cgsvIRbMjQ,20180209,上海华信国际集团有限公司,7,AAA,AAA,2018,02

In [75]:
# 此时根据标准创造label
df11['label'] = np.where(df11['Rating_Change']<0,'1','0')

In [76]:
df11.reset_index(inplace = True)
df11.head()

   Year S_INFO_COMPCODE  Rating_Change label
0  1995         2002174              0     0
1  1995         2002175              0     0
2  1995         2002176              0     0
3  1995         2002178              0     0
4  1998      08R9CB8D22              0     0

In [77]:
df11 = df11[['Year','S_INFO_COMPCODE','label']]

In [78]:
df11.head()

   Year S_INFO_COMPCODE label
0  1995         2002174     0
1  1995         2002175     0
2  1995         2002176     0
3  1995         2002178     0
4  1998      08R9CB8D22     0

In [79]:
#将df11合并到初始表df8里面
df8 = pd.merge(df8,df11,on=['Year','S_INFO_COMPCODE'],how='left')

最后，label里面剩余的na值表示该公司在该年内只有一条评级记录，且在此前没有参加过评级，此时不代表下调所以我们将na替代成0

In [80]:
df8['label'].fillna(0,inplace=True)

In [81]:
df8['label'].isna().sum()

0

In [82]:
df8.head()

,S_INFO_COMPCODE,ANN_DT,S_INFO_COMPNAME,B_INFO_CREDITRATINGAGENCY,B_INFO_CREDITRATING,B_INFO_PRECREDITRATING,Year,Month,label
0,15978B,20180521,新疆金特钢铁股份有限公司,14,CC,B-,2018,05,0
1,4J1460AB8E,20180725,重庆市江北嘴中央商务区投资集团有限公司,5,AA+,AA+,2018,07,0
2,755375070,20180626,遵义市红花岗城市建设投资经营有限公司,19,AA,AA,2018,06,0
3,4iIMTWF2HN,20180626,巢湖市城镇建设投资有限公司,2,AA,AA,2018,06,0
4,755079714,20180620,海安城镇建设投资有限公司,7,AA,AA,2018,06,0

### solution

In [83]:
import pandas as pd

data = pd.read_csv('/Users/jiayangdu/Desktop/PWC/Rating Analysis/ratings.csv')
goodratings = ['AAA','Aa1','Aa2','AAA-','AA+','AA']
data = data.dropna(how='any')

# data['B_INFO_CREDITRATING2'] = [1 if x in goodratings else 0 for x in  data['B_INFO_CREDITRATING']]

data['B_INFO_CREDITRATING2'] = data['B_INFO_CREDITRATING'].apply(lambda x:
    1 if x in goodratings else 0)

data['B_INFO_PRECREDITRATING2'] = data['B_INFO_PRECREDITRATING'].apply(lambda x:
    1 if x in goodratings else 0)

data['label'] = data['B_INFO_PRECREDITRATING2'] - data['B_INFO_CREDITRATING2']

In [84]:

# data.loc[data['label'] == 1].to_csv('test.csv', encoding='GBK')

data_downgrade = data.loc[data['label'] == 1]
# data_downgrade.to_csv('data_downgrade.csv', encoding='GBK')

def func(company,date): # data里面 [company] 在这个日期 [之后一年]评级是否下调，下调返回1
    # date:2013 年报的年份
    x = data_downgrade.loc[
        data_downgrade['S_INFO_COMPCODE'] == company]
    if len(x)>0:
        # a:20130601 -> 2013 -> 2012年报信息
        x = x.loc[x['ANN_DT'].apply(lambda a: True if date+1 >= a//10000 > date else False)]
        if len(x) > 0:
            return 1
        return 0
    else:
        return 0

def func1(company,date): # data 里面选出[company]在这个日期[之前][最近的]评级是否为good，好公司返回true
    # data : 2012
    # ANN_DT: 20131201
    x = data.loc[data['S_INFO_COMPCODE']==company]
    if len(x)>0:
        x = x.loc[x['ANN_DT'].apply(lambda a: True if a//10000 <= date else False)]
        if len(x) > 0:
            x = x.sort_values(by='ANN_DT')
            return x.iloc[-1]['B_INFO_CREDITRATING'] in goodratings
        else:
            return False
    else:
        return False

In [85]:
# 示例数据
features_all = pd.DataFrame()
for year in [2012,2013,2014,2015,2016,2017]:
    #tempdata = Beneish_Model.copy()
    tempdata = pd.read_csv('/Users/jiayangdu/Desktop/PWC/Rating Analysis/report_{}1231.csv'.format(year), index_col=0)
    tempdata['date'] = year
    # ...
    # tempdata['feature1'] = ...
    # ...
    features_all = pd.concat([features_all,tempdata], axis=0)


# 选出之前评级在2A以上的公司
print('step1')
features_all = features_all.loc[
    features_all.apply(lambda row: func1(row.name,row['date']), axis=1)]

# 把之前评级在2A以上，后续在2A以下的公司打1
print('step2')
features_all['label'] = features_all.apply(lambda row: func(row.name,row['date']), axis=1)

print('writing')
features_all.to_csv('data_for_modeling.csv')

step1
step2
writing

In [86]:
features_all2 = features_all.copy()

In [87]:
features_all2['Year'] = features_all2['date']

In [88]:
features_all2.reset_index(level=0, inplace=True)

In [89]:
features_all2.rename(columns={ 'index': 'Company_code'}, inplace= True)

In [90]:
features_all2

,Company_code,LESS_FIN_EXP,LESS_GERL_ADMIN_EXP,LESS_NON_OPER_EXP,LESS_OPER_COST,LESS_SELLING_DIST_EXP,OPER_PROFIT,PLUS_NON_OPER_REV,TOT_OPER_REV,TOT_PROFIT,...,NET_CASH_FLOWS_FNC_ACT,NET_CASH_FLOWS_INV_ACT,NET_CASH_FLOWS_OPER_ACT,OTHER_CASH_RECP_RAL_FNC_ACT,STOT_CASH_INFLOWS_INV_ACT,STOT_CASH_OUTFLOWS_INV_ACT,free_cash_flow,date,label,Year
0,502042173,2.981022e+09,3.062211e+08,1.236317e+07,7.256330e+09,2.572778e+08,1.373809e+09,2.211910e+07,1.266473e+10,1.383564e+09,...,1.106681e+09,-6.882498e+09,4.891686e+09,5.496540e+08,1.157935e+09,8.040433e+09,-4.482393e+07,2012,0,2012
1,fgK8oZEcM3,2.389262e+07,2.224131e+07,1.232032e+06,1.001408e+09,4.284713e+05,-1.018967e+07,1.931408e+08,1.064455e+09,1.817191e+08,...,7.941576e+08,-5.132901e+08,2.619953e+08,8.000000e+06,5.445872e+07,5.677488e+08,-9.970863e+08,2012,0,2012
2,502033471,4.664194e+09,2.744445e+09,5.417450e+08,1.484064e+11,1.967922e+09,-9.887499e+09,1.337182e+09,1.494788e+11,-9.092062e+09,...,2.042895e+10,-2.315309e+10,1.122352e+09,1.802900e+08,7.123290e+08,2.386542e+10,1.514198e+10,2012,0,2012
3,06G7DBBE14,3.773117e+08,4.913960e+08,9.997363e+06,3.056689e+09,7.925000e+04,6.982062e+08,2.182728e+08,4.644559e+09,9.064816e+08,...,-6.061454e+08,-4.288811e+08,1.299068e+09,6.836000e+06,1.526075e+09,1.954956e+09,7.723837e+08,2012,0,2012
4,600992,5.620350e+08,2.691057e+09,5.617335e+07,4.497491e+10,4.827712e+09,-4.147132e+08,1.213643e+09,5.382215e+10,7.427563e+08,...,5.414891e+08,-5.721982e+08,5.548161e+08,1.782688e+09,2.182691e+09,2.754889e+09,-4.021697e+08,2012,0,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13550,g0oUr9ECup,1.187037e+08,1.848231e+08,3.936794e+06,3.919779e+09,2.251546e+07,-1.292400e+08,1.752430e+08,4.143591e+09,4.206625e+07,...,5.097938e+08,-7.566310e+08,2.008795e+08,7.940343e+08,2.139338e+08,9.705648e+08,-6.992451e+08,2017,0,2017
13551,2AF4DF7DDD,1.630394e+08,2.182468e+08,7.625440e+06,1.542067e+09,3.081142e+08,1.055497e+08,2.797460e+07,2.187317e+09,1.258988e+08,...,9.634149e+08,-6.732820e+08,1.095332e+08,9.338034e+07,1.222664e+09,1.895946e+09,-2.060447e+09,2017,0,2017
13552,d47n41QHbj,1.527294e+09,1.192460e+09,9.021290e+07,4.309827e+10,2.626439e+09,2.744008e+09,6.795363e+07,5.121297e+10,2.721749e+09,...,1.023322e+10,-8.040658e+09,-8.090482e+08,2.954057e+08,1.966639e+10,2.770705e+10,2.411807e+09,2017,0,2017
13553,2NP032D265,1.491362e+09,1.571301e+08,4.884532e+06,2.193954e+09,3.976591e+05,3.357128e+09,1.046511e+08,1.416134e+09,3.456894e+09,...,1.106349e+10,-1.071921e+10,1.807937e+09,NaN,8.219522e+08,1.154116e+10,2.401093e+08,2017,0,2017
13554,676193316,7.309638e+05,2.738460e+07,4.054000e+01,2.436089e+08,NaN,3.557247e+07,NaN,2.654532e+08,3.557243e+07,...,1.091371e+09,-4.061756e+08,-5.775063e+08,5.628794e+08,1.099373e+05,4.062855e+08,-3.392275e+08,2017,0,2017

In [91]:
Beneish_Model2 = Beneish_Model.copy()

In [92]:
Beneish_Model2

,Company_code,S_INFO_COMPNAME,Year,AQI,DSRI,GMI,LVGI,SGAI,SGI,TATA
0,00opNxIVxk,常州天山重工机械有限公司,2012,3.287658e+10,-2.346129,0.030601,0.445738,0.416861,-2.247501,-3.837013
1,00opNxIVxk,常州天山重工机械有限公司,2013,1.517350e+06,-9.639831,-0.372677,-0.965993,-1.062265,-2.607907,-0.387803
2,00opNxIVxk,常州天山重工机械有限公司,2014,-3.246717e+11,-65.910046,-0.244889,-2.215727,-0.951808,-2.195918,-214853.582462
3,00opNxIVxk,常州天山重工机械有限公司,2015,3.858816e+10,-4.567092,0.126087,-0.895332,-1.317294,-177.252190,-0.098390
4,00opNxIVxk,常州天山重工机械有限公司,2016,-1.972522e+10,-20.806030,0.006882,-16.765230,-1.220331,-1.012451,-0.173153
...,...,...,...,...,...,...,...,...,...,...
34657,zzanhHx7Op,青岛康泰集团有限公司,2013,1.517352e+06,-8.441332,0.851181,-0.047719,-0.084679,-1.622458,-8.883235
34658,zzanhHx7Op,青岛康泰集团有限公司,2014,-3.246717e+11,-64.789872,0.008637,-1.167363,0.104049,-1.034689,-214852.326442
34659,zzanhHx7Op,青岛康泰集团有限公司,2015,3.858816e+10,-4.567092,0.115927,-0.895332,-1.317294,-177.252190,-0.007175
34660,zzanhHx7Op,青岛康泰集团有限公司,2016,-1.972522e+10,-20.806030,0.006882,-16.765230,-1.220331,-1.012451,-0.173153
34661,zzanhHx7Op,青岛康泰集团有限公司,2017,-4.200354e+10,-19.600660,-0.106320,-0.792574,-0.799977,-10.466829,-0.108819

In [93]:
#features_all2.set_index(['Company_code'],inplace= True)

In [94]:
#Beneish_Model.set_index(['Company_code','Year'],inplace= True)

In [95]:
features_all2['Year'] = features_all2['Year'].apply(lambda x:str(x))

In [96]:
features_all2['label'] = features_all2['label'].apply(lambda x:str(x))

In [97]:
features_all3 = pd.merge(Beneish_Model2,features_all2, on=['Company_code','Year'], how='left')

In [98]:
features_all3.dropna(subset = ['label'],inplace=True)

In [99]:
features_all3.reset_index(inplace = True)

In [100]:
features_all3.drop('index', axis=1, inplace = True)

In [101]:
features_all3.drop('date', axis=1, inplace = True)

In [102]:
features_all3

,Company_code,S_INFO_COMPNAME,Year,AQI,DSRI,GMI,LVGI,SGAI,SGI,TATA,...,AMORT_INTANG_ASSETS,DEPR_FA_COGA_DPBA,NET_CASH_FLOWS_FNC_ACT,NET_CASH_FLOWS_INV_ACT,NET_CASH_FLOWS_OPER_ACT,OTHER_CASH_RECP_RAL_FNC_ACT,STOT_CASH_INFLOWS_INV_ACT,STOT_CASH_OUTFLOWS_INV_ACT,free_cash_flow,label
0,04188CDAEA,新疆华凌工贸(集团)有限公司,2016,-1.972522e+10,-20.334634,-0.065519,-15.811490,-0.561754,0.930399,-0.115670,...,21915182.56,1.586253e+08,9.820150e+08,-1.814455e+09,1.772392e+08,NaN,4.879472e+08,2.302402e+09,1.060588e+08,0
1,04188CDAEA,新疆华凌工贸(集团)有限公司,2017,-4.200354e+10,-18.115388,0.614712,0.262330,0.452986,-9.646437,-0.310944,...,19911466.85,2.053192e+08,4.133297e+08,-6.356601e+08,1.147719e+09,NaN,1.131764e+08,7.488366e+08,3.255475e+08,0
2,0447D0907B,香江集团有限公司,2016,-1.972522e+10,-20.336509,0.006532,-16.197931,-0.488244,-0.150664,-0.342656,...,15013286.23,2.241751e+08,8.320808e+08,-1.090605e+09,6.361757e+08,NaN,2.155847e+10,2.264908e+10,-1.010579e+09,0
3,0447D0907B,香江集团有限公司,2017,-4.200354e+10,-19.311067,0.087230,0.302211,-0.293802,-8.817911,-0.480303,...,14648009.19,3.048804e+08,-2.381702e+08,-3.661010e+08,3.225848e+08,4.021318e+08,8.959092e+09,9.325193e+09,6.561143e+08,0
4,0449DD9DA2,天津市津能投资公司,2012,3.287658e+10,-1.676400,0.029466,0.997636,0.360511,-2.336247,-0.380169,...,NaN,NaN,6.723181e+08,-6.620995e+08,4.506446e+08,NaN,1.510940e+09,2.173040e+09,4.939034e+08,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14382,zu32At651Q,天津水务投资集团有限公司,2016,-1.972522e+10,-18.802047,0.006882,-15.828077,10.533499,-0.691895,0.274916,...,NaN,NaN,1.495293e+09,-1.890732e+09,1.374363e+08,1.429726e+09,7.041923e+06,1.897774e+09,-2.539532e+09,0
14383,zu32At651Q,天津水务投资集团有限公司,2017,-4.200354e+10,-18.750611,0.851723,0.080126,-0.055917,-9.739397,0.625315,...,NaN,NaN,6.361759e+08,-1.581661e+09,-5.357604e+06,1.684542e+09,1.012971e+08,1.682958e+09,-1.322144e+09,0
14384,zy02ft6t9K,宁夏晟晏实业集团有限公司,2015,3.858816e+10,-3.609714,0.008879,0.066614,-0.273581,-176.029129,0.392328,...,47177409.44,3.765693e+08,1.185372e+09,-1.656874e+09,3.233254e+08,NaN,6.078014e+08,2.264675e+09,-8.328692e+08,0
14385,zy02ft6t9K,宁夏晟晏实业集团有限公司,2016,-1.972522e+10,-19.385580,-0.006746,-16.078809,-0.034774,0.101347,1.655484,...,47684130.45,4.233298e+08,1.259456e+08,-4.857463e+08,3.466636e+08,NaN,1.022152e+09,1.507898e+09,-9.763224e+08,0
14386,zy02ft6t9K,宁夏晟晏实业集团有限公司,2017,-4.200354e+10,-18.671739,0.205148,0.347366,-0.025211,-9.402328,-0.837281,...,71342014.53,5.521036e+08,-4.213157e+08,-8.947655e+08,1.450231e+09,NaN,1.293896e+08,1.024155e+09,1.057234e+09,0

In [103]:
features_all4 = features_all3.head(1000)

In [211]:
features_all4.to_csv('data_for_modeling2.csv')

In [104]:
features_all3.to_csv('data_for_modeling_full.csv')

In [12]:
import pandas as pd
df333 = pd.read_csv("/Users/jiayangdu/Desktop/PWC/data_for_modeling2.csv")

In [13]:
df333.head()

,Unnamed: 0,Company_code,S_INFO_COMPNAME,Year,AQI,DSRI,GMI,LVGI,SGAI,SGI,...,AMORT_INTANG_ASSETS,DEPR_FA_COGA_DPBA,NET_CASH_FLOWS_FNC_ACT,NET_CASH_FLOWS_INV_ACT,NET_CASH_FLOWS_OPER_ACT,OTHER_CASH_RECP_RAL_FNC_ACT,STOT_CASH_INFLOWS_INV_ACT,STOT_CASH_OUTFLOWS_INV_ACT,free_cash_flow,label
0,0,04188CDAEA,新疆华凌工贸(集团)有限公司,2016,-1.972522e+10,-20.334634,-0.065519,-15.811490,-0.561754,0.930399,...,21915182.56,1.586253e+08,9.820150e+08,-1.814455e+09,1.772392e+08,0.000000e+00,4.879472e+08,2.302402e+09,1.060588e+08,0
1,1,04188CDAEA,新疆华凌工贸(集团)有限公司,2017,-4.200354e+10,-18.115388,0.614712,0.262330,0.452986,-9.646437,...,19911466.85,2.053192e+08,4.133297e+08,-6.356601e+08,1.147719e+09,0.000000e+00,1.131764e+08,7.488366e+08,3.255475e+08,0
2,2,0447D0907B,香江集团有限公司,2016,-1.972522e+10,-20.336509,0.006532,-16.197931,-0.488244,-0.150664,...,15013286.23,2.241751e+08,8.320808e+08,-1.090605e+09,6.361757e+08,0.000000e+00,2.155847e+10,2.264908e+10,-1.010579e+09,0
3,3,0447D0907B,香江集团有限公司,2017,-4.200354e+10,-19.311067,0.087230,0.302211,-0.293802,-8.817911,...,14648009.19,3.048804e+08,-2.381702e+08,-3.661010e+08,3.225848e+08,4.021318e+08,8.959092e+09,9.325193e+09,6.561143e+08,0
4,4,0449DD9DA2,天津市津能投资公司,2012,3.287658e+10,-1.676400,0.029466,0.997636,0.360511,-2.336247,...,0.00,0.000000e+00,6.723181e+08,-6.620995e+08,4.506446e+08,0.000000e+00,1.510940e+09,2.173040e+09,4.939034e+08,0

In [14]:
df333.drop('Unnamed: 0', axis=1, inplace = True)

In [15]:
df333.drop('S_INFO_COMPNAME', axis=1, inplace = True)

In [16]:
df333.set_index(['Company_code'],inplace= True)

In [4]:
df444 = pd.read_csv("/Users/jiayangdu/Desktop/PWC/data_for_modeling_full.csv")

In [17]:
df333['label'].isna().sum()

0

In [20]:
df333.head()

,Year,AQI,DSRI,GMI,LVGI,SGAI,SGI,TATA,LESS_FIN_EXP,LESS_GERL_ADMIN_EXP,...,AMORT_INTANG_ASSETS,DEPR_FA_COGA_DPBA,NET_CASH_FLOWS_FNC_ACT,NET_CASH_FLOWS_INV_ACT,NET_CASH_FLOWS_OPER_ACT,OTHER_CASH_RECP_RAL_FNC_ACT,STOT_CASH_INFLOWS_INV_ACT,STOT_CASH_OUTFLOWS_INV_ACT,free_cash_flow,label
Company_code,,,,,,,,,,,,,,,,,,,,,
04188CDAEA,2016,-1.972522e+10,-20.334634,-0.065519,-15.811490,-0.561754,0.930399,-0.115670,6.989285e+08,5.378388e+08,...,21915182.56,1.586253e+08,9.820150e+08,-1.814455e+09,1.772392e+08,0.000000e+00,4.879472e+08,2.302402e+09,1.060588e+08,0
04188CDAEA,2017,-4.200354e+10,-18.115388,0.614712,0.262330,0.452986,-9.646437,-0.310944,4.860822e+08,5.205645e+08,...,19911466.85,2.053192e+08,4.133297e+08,-6.356601e+08,1.147719e+09,0.000000e+00,1.131764e+08,7.488366e+08,3.255475e+08,0
0447D0907B,2016,-1.972522e+10,-20.336509,0.006532,-16.197931,-0.488244,-0.150664,-0.342656,2.145973e+08,2.507384e+08,...,15013286.23,2.241751e+08,8.320808e+08,-1.090605e+09,6.361757e+08,0.000000e+00,2.155847e+10,2.264908e+10,-1.010579e+09,0
0447D0907B,2017,-4.200354e+10,-19.311067,0.087230,0.302211,-0.293802,-8.817911,-0.480303,2.283738e+08,2.026837e+08,...,14648009.19,3.048804e+08,-2.381702e+08,-3.661010e+08,3.225848e+08,4.021318e+08,8.959092e+09,9.325193e+09,6.561143e+08,0
0449DD9DA2,2012,3.287658e+10,-1.676400,0.029466,0.997636,0.360511,-2.336247,-0.380169,1.578576e+08,7.822694e+07,...,0.00,0.000000e+00,6.723181e+08,-6.620995e+08,4.506446e+08,0.000000e+00,1.510940e+09,2.173040e+09,4.939034e+08,0

In [6]:
df333.fillna('0',inplace = True)

In [8]:
df444.fillna('0',inplace = True)

In [9]:
df444.to_csv('data_for_modeling_full.csv')

In [10]:
df333.to_csv('data_for_modeling2.csv')

In [18]:
df333.isna().sum()

Year                           0
AQI                            0
DSRI                           0
GMI                            0
LVGI                           0
SGAI                           0
SGI                            0
TATA                           0
LESS_FIN_EXP                   0
LESS_GERL_ADMIN_EXP            0
LESS_NON_OPER_EXP              0
LESS_OPER_COST                 0
LESS_SELLING_DIST_EXP          0
OPER_PROFIT                    0
PLUS_NON_OPER_REV              0
TOT_OPER_REV                   0
TOT_PROFIT                     0
ACCT_PAYABLE                   0
ACCT_RCV                       0
ADV_FROM_CUST                  0
BONDS_PAYABLE                  0
CONST_IN_PROG                  0
DVD_RCV                        0
FIN_ASSETS_AVAIL_FOR_SALE      0
FIX_ASSETS                     0
INT_RCV                        0
INVENTORIES                    0
INVEST_REAL_ESTATE             0
LT_BORROW                      0
LT_PAYABLE                     0
MONETARY_CAP                   0
NON_CUR_LIAB_DUE_WITHIN_1Y     0
NOTES_PAYABLE                  0
NOTES_RCV                      0
OIL_AND_NATURAL_GAS_ASSETS     0
OTH_PAYABLE                    0
OTH_RCV                        0
PRODUCTIVE_BIO_ASSETS          0
PROJ_MATL                      0
ST_BORROW                      0
TOT_ASSETS                     0
TOT_CUR_ASSETS                 0
TOT_CUR_LIAB                   0
TOT_LIAB                       0
TRADABLE_FIN_ASSETS            0
AMORT_INTANG_ASSETS            0
DEPR_FA_COGA_DPBA              0
NET_CASH_FLOWS_FNC_ACT         0
NET_CASH_FLOWS_INV_ACT         0
NET_CASH_FLOWS_OPER_ACT        0
OTHER_CASH_RECP_RAL_FNC_ACT    0
STOT_CASH_INFLOWS_INV_ACT      0
STOT_CASH_OUTFLOWS_INV_ACT     0
free_cash_flow                 0
label                          0
dtype: int64